<section class="add-cabinet">
  <div class="container">
    <h2 class="add-cabinet__title">Добавить кабинет</h2>
    <p class="add-cabinet__text">
      Создавайте и управляйте. Делитесь своим опытом и зарабатывайте.
    </p>

    <ul class="add-cabinet__list">
      <li class="add-cabinet__item">
        <a class="add-cabinet__link" href="#">Рыбалка. Отдых. Услуги</a>
      </li>
      <li class="add-cabinet__item">
        <a class="add-cabinet__link" href="#">Обучение. Тренеры</a>
      </li>
      <li class="add-cabinet__item">
        <a class="add-cabinet__link" href="#">Туры. Гиды</a>
      </li>
      <li class="add-cabinet__item">
        <a class="add-cabinet__link" href="#">Соревнования. Турниры</a>
      </li>
    </ul>
  </div>
</section>
