<section class="appeals py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light mb-[20px]">Обращения</h1>

    <div class="accordion-border accordion">
      <button
        class="accordion-border__control accordion-control-btn h-[60px] px-[15px] py-[18px]"
        type="button"
      >
        Создать обращение

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="6"
          viewBox="0 0 8 6"
        >
          <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
        </svg>
      </button>

      <div class="accordion-border__content accordion-content">
        <div class="accordion-border__inner">
          <p>Создать обращение</p>
        </div>
      </div>
    </div>
  </div>
</section>
