<section class="appeals py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light mb-[20px]">Обращения</h1>

    <div class="flex flex-col items-start w-full">
      <button
        class="border-all border-b border-b-transparent h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Финансовый отдел
      </button>
      <button
        class="border-all border-b border-b-transparent h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Отдел бронирования
      </button>
      <button
        class="border-all border-b border-b-transparent h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Отдел претензий
      </button>
      <button
        class="border-all h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Как улучшить
      </button>
    </div>
  </div>
</section>
