<section class="appeals py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light mb-[20px]">Обращения</h1>

    <div class="accordion-border accordion mb-[10px]">
      <button
        class="accordion-border__control accordion-control-btn h-[60px] px-[15px] py-[18px] text-xl"
        type="button"
      >
        Финансовый отдел

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="6"
          viewBox="0 0 8 6"
        >
          <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
        </svg>
      </button>

      <div class="accordion-border__content accordion-content">
        <div class="accordion-border__inner">
          <p>Создать обращение</p>
        </div>
      </div>
    </div>

    <textarea
      class="block border-all h-[130px] w-full text-gray mb-[10px] resize-none"
      placeholder="Ваше обращение..."
    >
    </textarea>

    <div class="flex items-center">
      <button class="mr-[10px]" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="31"
          height="31"
          viewBox="0 0 31 31"
        >
          <g
            id="Добавить_карту"
            data-name="Добавить карту"
            transform="translate(-16 -340)"
          >
            <g
              id="Эллипс_37"
              data-name="Эллипс 37"
              transform="translate(16 340)"
              fill="#fff"
              stroke="#000"
              stroke-width="1"
            >
              <circle cx="15.5" cy="15.5" r="15.5" stroke="none" />
              <circle cx="15.5" cy="15.5" r="15" fill="none" />
            </g>
            <path
              id="Контур_157"
              data-name="Контур 157"
              d="M6.663,6l5.2-5.2A.469.469,0,1,0,11.2.138L6,5.338.8.138A.469.469,0,0,0,.137.8L5.337,6l-5.2,5.2a.469.469,0,0,0,.663.663L6,6.664l5.2,5.2a.469.469,0,0,0,.663-.663Z"
              transform="translate(31.486 347) rotate(45)"
            />
          </g>
        </svg>
      </button>
      <button class="btn h-[60px] bg-blue w-full rounded-none" type="button">
        Отправить
      </button>
    </div>
  </div>
</section>
