<section class="bank-cards py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light mb-[20px]">Добавить карту</h1>

    <div class="flex flex-col">
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Номер карты</label>
        <input
          class="block w-full"
          type="text"
          placeholder="ХХХХ ХХХХ ХХХХ ХХХХ"
        />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Имя владельца как на карте</label>
        <input class="block w-full" type="text" value="Марина Мнишек" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Дата окончания действия</label>
        <input class="block w-full" type="text" placeholder="ХХ/ХХ" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Код безопасности CVC</label>
        <input class="block w-full" type="text" placeholder="ХХХ" />
      </div>

      <button class="btn h-[60px] rounded-none bg-blue text-white" type="button">
        Добавить карту
      </button>
    </div>
  </div>
</section>
