<section class="cabinet-control py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light leading-none mb-1">Приглашение</h1>
    <p class="mb-[40px]">
      Управляйте кабинетом, объектами и услугами с Администраторами
    </p>

    <div class="flex flex-col">
      <input
        class="input text-xl mb-[10px]"
        type="text"
        placeholder="Введите имя…"
      />
      <input
        class="input text-xl mb-[10px]"
        type="text"
        placeholder="Введите номер телефона…"
      />
      <button class="btn rounded-none h-[60px]">Отправить Приглашение</button>
    </div>
  </div>
</section>
