<section class="cabinet-delete py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light leading-none mb-1">
      Удалить <br />
      личный кабинет
    </h1>
    <p class="mb-[30px]">
      Удалив личный кабинет ваши данные исчезнут через 30 дней. До окончания
      этого периода вы можете отменить операцию просто войдя в свою учетную
      запись. Личный кабинет можно удалить только после закрытия или смены
      управляющего в кабинетах объектов или услуг при наличии
    </p>
    <button class="btn bg-red w-full rounded-none">Удалить</button>
  </div>
</section>
