<section class="cabinet-code py-[20px]">
  <div class="container">
    <p class="text-xl text-center mb-[20px]">Придумайте код доступа</p>

    <input
      class="flex items-center w-full text-center text-[42px]"
      type="text"
      placeholder=". . . ."
    />

    <div class="grid grid-cols-3 gap-[8px]">
      <button class="text-[42px]" type="button">1</button>
      <button class="text-[42px]" type="button">2</button>
      <button class="text-[42px]" type="button">3</button>
      <button class="text-[42px]" type="button">4</button>
      <button class="text-[42px]" type="button">5</button>
      <button class="text-[42px]" type="button">6</button>
      <button class="text-[42px]" type="button">7</button>
      <button class="text-[42px]" type="button">8</button>
      <button class="text-[42px]" type="button">9</button>
      <button class="text-[15px] text-blue" type="button">Продолжить</button>
      <button class="text-[42px]" type="button">0</button>
      <button class="text-[42px] justify-self-center mr-3" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="34.876"
          height="23.251"
          viewBox="0 0 34.876 23.251"
        >
          <g id="delete" transform="translate(0 -4)" opacity="0.495">
            <g
              id="Сгруппировать_160"
              data-name="Сгруппировать 160"
              transform="translate(0 4)"
              opacity="0.801"
            >
              <path
                id="Контур_101"
                data-name="Контур 101"
                d="M31.243,27.251H10.9a.725.725,0,0,1-.53-.231L.2,16.121a.726.726,0,0,1,0-.993L10.368,4.23A.729.729,0,0,1,10.9,4H31.243a3.637,3.637,0,0,1,3.633,3.633V23.618A3.637,3.637,0,0,1,31.243,27.251ZM11.214,25.8H31.243a2.182,2.182,0,0,0,2.18-2.18V7.633a2.182,2.182,0,0,0-2.18-2.18H11.214L1.721,15.625Z"
                transform="translate(0 -4)"
              />
            </g>
            <g
              id="Сгруппировать_161"
              data-name="Сгруппировать 161"
              transform="translate(16.711 9.814)"
              opacity="0.801"
            >
              <path
                id="Контур_102"
                data-name="Контур 102"
                d="M22.4,19.625a.73.73,0,0,1-.514-.212L11.712,9.241A.726.726,0,0,1,12.74,8.213L22.912,18.386a.726.726,0,0,1-.513,1.24Z"
                transform="translate(-11.5 -8.001)"
              />
            </g>
            <g
              id="Сгруппировать_162"
              data-name="Сгруппировать 162"
              transform="translate(16.711 9.814)"
              opacity="0.705"
            >
              <path
                id="Контур_103"
                data-name="Контур 103"
                d="M12.227,19.625a.726.726,0,0,1-.514-1.24L21.885,8.213a.726.726,0,1,1,1.027,1.027L12.74,19.413a.724.724,0,0,1-.513.212Z"
                transform="translate(-11.5 -8.001)"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
  </div>
</section>
