<section class="cabinet-control py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light leading-none mb-[50px]">
      Добавить Администратора
    </h1>

    <div class="flex flex-col">
      <input
        class="input text-xl mb-[10px]"
        type="text"
        placeholder="Введите имя…"
      />
      <input
        class="input text-xl mb-[10px]"
        type="text"
        placeholder="Введите ID кабинета Адм…"
      />
      <button class="btn rounded-none h-[60px]">Отправить на заверение</button>
    </div>
  </div>
</section>
