<section class="club-cards">
  <div class="container">
    <h1 class="club-cards__title">Виды карт и привилегии</h1>

    <p class="club-cards__text">
      Виртуальные карты лояльности для постоянных гостей. Является …
      <a href="#">далее</a>
    </p>
  </div>
  <div class="club-cards__slider swiper">
    <ul class="club-cards__wrapper swiper-wrapper">
      <li class="club-cards__slide swiper-slide">
        <div
          class="club-card"
          style="background-image: url('img/club-cards/1.jpg')"
        >
          <div class="club-card__percent">10%</div>
          <div class="club-card__bottom">
            <div class="club-card__details">
              <span class="club-card__name">ИМЯ ВЛАДЕЛЬЦА</span>
              <span>00/00</span>
            </div>
            <div>Classic</div>
          </div>
        </div>
      </li>
      <li class="club-cards__slide swiper-slide">
        <div
          class="club-card"
          style="background-image: url('img/club-cards/1.jpg')"
        >
          <div class="club-card__percent">10%</div>
          <div class="club-card__bottom">
            <div class="club-card__details">
              <span class="club-card__name">ИМЯ ВЛАДЕЛЬЦА</span>
              <span>00/00</span>
            </div>
            <div>Classic</div>
          </div>
        </div>
      </li>
      <li class="club-cards__slide swiper-slide">
        <div
          class="club-card"
          style="background-image: url('img/club-cards/1.jpg')"
        >
          <div class="club-card__percent">10%</div>
          <div class="club-card__bottom">
            <div class="club-card__details">
              <span class="club-card__name">ИМЯ ВЛАДЕЛЬЦА</span>
              <span>00/00</span>
            </div>
            <div>Classic</div>
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper-pagination"></div>
  </div>

  <div class="club-btns">
    <button class="club-btns__btn" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24.846"
        height="24.847"
        viewBox="0 0 24.846 24.847"
      >
        <path
          d="M9.161,8.251l7.15-7.15A.645.645,0,1,0,15.4.19L8.25,7.339,1.1.19A.645.645,0,0,0,.189,1.1l7.15,7.15L.189,15.4a.645.645,0,0,0,.912.912l7.15-7.15,7.15,7.15a.645.645,0,0,0,.912-.912Z"
          transform="translate(12.424 0.805) rotate(45)"
          fill="#0a84fe"
          stroke="#0a84fe"
          stroke-width="1"
        />
      </svg>
    </button>
    <button class="club-btns__btn" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22.357"
        height="22.357"
        viewBox="0 0 22.357 22.357"
      >
        <g transform="translate(-5.011 3.1)">
          <g transform="translate(5.51 -2.6)">
            <g id="_x34__4_">
              <g>
                <path
                  d="M21.161,20.2,15.647,14.77a8.722,8.722,0,0,0,2.331-5.927A8.916,8.916,0,0,0,8.992,0,8.915,8.915,0,0,0,.006,8.843a8.915,8.915,0,0,0,8.986,8.843,9.037,9.037,0,0,0,5.656-1.975l5.536,5.447a.7.7,0,0,0,.977,0A.673.673,0,0,0,21.161,20.2ZM8.992,16.325a7.543,7.543,0,0,1-7.6-7.482,7.543,7.543,0,0,1,7.6-7.482,7.543,7.543,0,0,1,7.6,7.482A7.543,7.543,0,0,1,8.992,16.325Z"
                  transform="translate(-0.006)"
                  fill="#0a84fe"
                />
                <path
                  d="M20.672,21.858a1.189,1.189,0,0,1-.84-.343l-5.227-5.144a9.608,9.608,0,0,1-5.614,1.815A9.426,9.426,0,0,1-.494,8.843,9.426,9.426,0,0,1,8.992-.5a9.427,9.427,0,0,1,9.486,9.343,9.221,9.221,0,0,1-2.145,5.9l5.178,5.1a1.173,1.173,0,0,1,0,1.676A1.188,1.188,0,0,1,20.672,21.858Zm-5.99-6.814L20.534,20.8a.2.2,0,0,0,.276,0,.173.173,0,0,0,0-.25l-5.859-5.765.327-.356a8.24,8.24,0,0,0,2.2-5.588A8.426,8.426,0,0,0,8.992.5,8.425,8.425,0,0,0,.506,8.843a8.425,8.425,0,0,0,8.486,8.343,8.6,8.6,0,0,0,5.344-1.866Zm-5.69,1.782a8.053,8.053,0,0,1-8.1-7.982A8.053,8.053,0,0,1,8.992.861a8.053,8.053,0,0,1,8.1,7.982A8.053,8.053,0,0,1,8.992,16.825Zm0-14.965a7.051,7.051,0,0,0-7.1,6.982,7.051,7.051,0,0,0,7.1,6.982,7.051,7.051,0,0,0,7.1-6.982A7.051,7.051,0,0,0,8.992,1.861Z"
                  transform="translate(-0.006)"
                  fill="#0a84fe"
                />
              </g>
            </g>
          </g>
        </g>
      </svg>
    </button>
    <button class="club-btns__btn" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23.072"
        height="22.972"
        viewBox="0 0 23.072 22.972"
      >
        <g transform="translate(0.5 -0.233)">
          <path
            d="M20.752,5.147H16.567A2.427,2.427,0,0,0,15.172.733a2.6,2.6,0,0,0-1.045.236h0a22.4,22.4,0,0,0-3.087,2.474A22.369,22.369,0,0,0,7.948.971h0A2.609,2.609,0,0,0,6.9.733,2.428,2.428,0,0,0,5.156,4.849a2.485,2.485,0,0,0,.349.3H1.32A1.322,1.322,0,0,0,0,6.467v3.1a1.322,1.322,0,0,0,1.32,1.32h.7V20.989a1.718,1.718,0,0,0,1.716,1.716h14.6a1.717,1.717,0,0,0,1.715-1.716V10.882h.7a1.322,1.322,0,0,0,1.32-1.32v-3.1A1.322,1.322,0,0,0,20.752,5.147ZM14.647,2.106a1.342,1.342,0,0,1,.525-.123,1.177,1.177,0,0,1,.048,2.354h-3.3A23.5,23.5,0,0,1,14.647,2.106ZM6.9,1.983a1.34,1.34,0,0,1,.524.123,23.511,23.511,0,0,1,2.732,2.231h-3.3A1.177,1.177,0,0,1,6.9,1.983ZM1.32,10a.44.44,0,0,1-.44-.44v-3.1a.44.44,0,0,1,.44-.44H8.928V10H1.32ZM8.928,21.825H3.736a.837.837,0,0,1-.836-.836V10.882H8.928V21.825Zm3.336,0H9.808V6.027h2.456v15.8Zm6.908-.836a.837.837,0,0,1-.835.836H13.144V10.882h6.028Zm2.02-11.427a.441.441,0,0,1-.44.44H13.144V6.027h7.608a.441.441,0,0,1,.44.44Z"
            transform="translate(0 0)"
            fill="#0a84fe"
            stroke="#0a84fe"
            stroke-width="1"
          />
        </g>
      </svg>
    </button>
    <button class="club-btns__btn" type="button">
      <svg
        id="_x33__32_"
        xmlns="http://www.w3.org/2000/svg"
        width="23.113"
        height="16.403"
        viewBox="0 0 23.113 16.403"
      >
        <g transform="translate(0 0)">
          <path
            d="M2.237,88.839a2.237,2.237,0,1,0,2.237,2.237A2.237,2.237,0,0,0,2.237,88.839Zm0,5.965A2.237,2.237,0,1,0,4.474,97.04,2.237,2.237,0,0,0,2.237,94.8Zm0,5.965a2.237,2.237,0,1,0,2.237,2.237A2.237,2.237,0,0,0,2.237,100.768Zm5.219-8.2H21.622a1.491,1.491,0,1,0,0-2.982H7.456a1.491,1.491,0,1,0,0,2.982Zm14.166,2.982H7.456a1.491,1.491,0,1,0,0,2.982H21.622a1.491,1.491,0,0,0,0-2.982Zm0,5.965H7.456a1.491,1.491,0,1,0,0,2.982H21.622a1.491,1.491,0,0,0,0-2.982Z"
            transform="translate(0 -88.839)"
            fill="#0a84fe"
          />
        </g>
      </svg>
    </button>
  </div>
  <!--  -->
  <div class="container">
    <div class="club-cards__item">
      <div>Имя карты</div>
      <div>Classic</div>
    </div>
    <div class="club-cards__item">
      <div>Статус карты</div>
      <div>10 %</div>
    </div>
    <div class="club-cards__item">
      <div>Срок действия</div>
      <div>Бессрочно</div>
    </div>
    <div class="club-cards__item">
      <div>Условия получения</div>
      <div>5000.00</div>
    </div>
    <div class="club-accordion accordion">
      <button
        class="club-accordion__control accordion-control-btn"
        type="button"
      >
        Где применяется

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="6"
          viewBox="0 0 8 6"
        >
          <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
        </svg>
      </button>

      <div class="club-accordion__content accordion-content">
        <div class="club-accordion__inner">
          <textarea
            class="club-textarea"
            placeholder="Вставьте текст или напишите…"
          ></textarea>
        </div>
      </div>

      <div class="club-accordion accordion">
        <button
          class="club-accordion__control accordion-control-btn"
          type="button"
        >
          Соглашение

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </button>

        <div class="club-accordion__content accordion-content">
          <div class="club-accordion__inner">
            <p>Соглашение</p>
          </div>
        </div>
      </div>

      <div class="club-accordion accordion">
        <button
          class="club-accordion__control accordion-control-btn"
          type="button"
        >
          Регламент использования

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </button>

        <div class="club-accordion__content accordion-content">
          <div class="club-accordion__inner">
            <p>
              Карты лояльности не действуют, когда вы покупаете товары брендов
              или секций: Apple, Baden, Chanel, Dior, корнер Fendi, Глобус
              Гурмэ, корнер Gucci, LOUIS VUITTON, Prada/miu miu, ресторан BURO,
              кафе ЦУМ (2 и 4 этаж), секция подарочной упаковки, Stephen
              Webster,
            </p>
          </div>
        </div>
      </div>
    </div>

    <button class="club-cards__link" type="button">Редактировать карту</button>
  </div>
</section>
