<section class="club-cards club-cards--search-owner">
  <div class="container">
    <h1 class="club-cards__title">Виды карт и привилегии</h1>

    <p class="club-cards__text">
      Виртуальные карты лояльности для постоянных гостей. Является …
      <a href="#">далее</a>
    </p>
  </div>
  <div class="club-cards__slider swiper">
    <ul class="club-cards__wrapper swiper-wrapper">
      <li class="club-cards__slide swiper-slide">
        <div
          class="club-card"
          style="background-image: url('img/club-cards/1.jpg')"
        >
          <div class="club-card__percent">10%</div>
          <div class="club-card__bottom">
            <div class="club-card__details">
              <span class="club-card__name">ИМЯ ВЛАДЕЛЬЦА</span>
              <span>00/00</span>
            </div>
            <div>Classic</div>
          </div>
        </div>
      </li>
      <li class="club-cards__slide swiper-slide">
        <div
          class="club-card"
          style="background-image: url('img/club-cards/1.jpg')"
        >
          <div class="club-card__percent">10%</div>
          <div class="club-card__bottom">
            <div class="club-card__details">
              <span class="club-card__name">ИМЯ ВЛАДЕЛЬЦА</span>
              <span>00/00</span>
            </div>
            <div>Classic</div>
          </div>
        </div>
      </li>
      <li class="club-cards__slide swiper-slide">
        <div
          class="club-card"
          style="background-image: url('img/club-cards/1.jpg')"
        >
          <div class="club-card__percent">10%</div>
          <div class="club-card__bottom">
            <div class="club-card__details">
              <span class="club-card__name">ИМЯ ВЛАДЕЛЬЦА</span>
              <span>00/00</span>
            </div>
            <div>Classic</div>
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper-pagination"></div>
  </div>

  <div class="club-btns">
    <button class="club-btns__btn" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="23.607"
        viewBox="0 0 25 23.607"
      >
        <g transform="translate(-140 -308)">
          <path
            d="M11.8,0A11.8,11.8,0,1,1,0,11.8,11.8,11.8,0,0,1,11.8,0Z"
            transform="translate(140.893 308)"
            fill="none"
          />
          <g transform="translate(140.5 328.252) rotate(-90)">
            <path
              d="M16.424,5.265,11.26.1a.344.344,0,1,0-.487.487l4.576,4.576h-15a.344.344,0,1,0,0,.689h15l-4.576,4.576a.344.344,0,1,0,.487.487l5.164-5.164A.344.344,0,0,0,16.424,5.265Z"
              transform="translate(0 0)"
              fill="none"
              stroke="#0a84fe"
              stroke-width="1"
            />
          </g>
          <g transform="translate(164.5 311.727) rotate(90)">
            <path
              d="M16.424,5.265,11.26.1a.344.344,0,1,0-.487.487l4.576,4.576h-15a.344.344,0,1,0,0,.689h15l-4.576,4.576a.344.344,0,1,0,.487.487l5.164-5.164A.344.344,0,0,0,16.424,5.265Z"
              transform="translate(0 0)"
              fill="none"
              stroke="#0a84fe"
              stroke-width="1"
            />
          </g>
        </g>
      </svg>
    </button>
    <button class="club-btns__btn bg-green" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30.477"
        height="26.632"
        viewBox="0 0 30.477 26.632"
      >
        <g id="share" transform="translate(0)">
          <path
            d="M198.038.695a.671.671,0,0,0-1.145.476V4.753a9.168,9.168,0,0,0-5.719,1.9,10.177,10.177,0,0,0-3.532,5.916,10.422,10.422,0,0,0-.12,3.409v0c0,.01,0,.02,0,.03l.143.82a.671.671,0,0,0,1.237.23l.427-.712a9.431,9.431,0,0,1,4.865-4.3,7.051,7.051,0,0,1,2.694-.395v3.71a.671.671,0,0,0,1.147.473l7.094-7.13a.671.671,0,0,0,0-.949Zm.2,13.038V11.046a.671.671,0,0,0-.565-.663,8.212,8.212,0,0,0-3.916.395,10.256,10.256,0,0,0-4.978,3.964,9.562,9.562,0,0,1,.182-1.915,8.733,8.733,0,0,1,3.08-5.15c.014-.012.028-.024.041-.037.047-.044,1.752-1.583,5.479-1.555h0a.672.672,0,0,0,.672-.672V2.786l5.474,5.446Zm0,0"
            transform="translate(-174.852 -0.5)"
            fill="#fff"
          />
          <path
            d="M28.017,74.814a.671.671,0,0,0-.671.671v2.837a2.016,2.016,0,0,1-2.014,2.014H3.357a2.016,2.016,0,0,1-2.014-2.014V62.329a2.016,2.016,0,0,1,2.014-2.014H8a.671.671,0,0,0,0-1.343H3.357A3.36,3.36,0,0,0,0,62.329V78.323a3.36,3.36,0,0,0,3.357,3.357H25.332a3.36,3.36,0,0,0,3.357-3.357V75.485A.671.671,0,0,0,28.017,74.814Zm0,0"
            transform="translate(0 -55.047)"
            fill="#fff"
          />
        </g>
      </svg>
    </button>
    <button class="club-btns__btn" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="29.516"
        height="23.866"
        viewBox="0 0 29.516 23.866"
      >
        <g transform="translate(18286.514 -8877.246)">
          <g transform="translate(248 -2)">
            <g transform="translate(-18768.176 8582.4)">
              <path
                d="M944.736,1678.942h-9.315a.421.421,0,1,1,0-.842h9.315a.421.421,0,1,1,0,.842Z"
                transform="translate(-687.055 -1358.23)"
                fill="#0a84fe"
              />
              <path
                d="M1034.336,1576.342h-9.315a.421.421,0,0,1,0-.842h9.315a.421.421,0,0,1,0,.842Z"
                transform="translate(-774.145 -1258.358)"
                fill="#0a84fe"
              />
              <path
                d="M1127.334,1469.942h-9.313a.421.421,0,1,1,0-.842h9.313a.421.421,0,1,1,0,.842Z"
                transform="translate(-864.578 -1154.75)"
                fill="#0a84fe"
              />
            </g>
          </g>
          <path
            d="M19.8,3.709,26.006,9.9a2.528,2.528,0,0,1,0,3.561L14.482,24.988a5.025,5.025,0,0,1-7.1,0L2.959,20.561a2.528,2.528,0,0,1,0-3.561L16.25,3.709a2.513,2.513,0,0,1,3.549,0M4.727,18.781l4.439,4.426a2.49,2.49,0,0,0,3.549,0l4.426-4.426-6.207-6.207Z"
            transform="translate(-18288.738 8874.271)"
            fill="#0a84fe"
          />
        </g>
      </svg>
    </button>
    <button class="club-btns__btn" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22.357"
        height="22.357"
        viewBox="0 0 22.357 22.357"
      >
        <g transform="translate(-5.011 3.1)">
          <g transform="translate(5.51 -2.6)">
            <g>
              <g>
                <path
                  d="M21.161,20.2,15.647,14.77a8.722,8.722,0,0,0,2.331-5.927A8.916,8.916,0,0,0,8.992,0,8.915,8.915,0,0,0,.006,8.843a8.915,8.915,0,0,0,8.986,8.843,9.037,9.037,0,0,0,5.656-1.975l5.536,5.447a.7.7,0,0,0,.977,0A.673.673,0,0,0,21.161,20.2ZM8.992,16.325a7.543,7.543,0,0,1-7.6-7.482,7.543,7.543,0,0,1,7.6-7.482,7.543,7.543,0,0,1,7.6,7.482A7.543,7.543,0,0,1,8.992,16.325Z"
                  transform="translate(-0.006)"
                  fill="#0a84fe"
                />
                <path
                  d="M20.672,21.858a1.189,1.189,0,0,1-.84-.343l-5.227-5.144a9.608,9.608,0,0,1-5.614,1.815A9.426,9.426,0,0,1-.494,8.843,9.426,9.426,0,0,1,8.992-.5a9.427,9.427,0,0,1,9.486,9.343,9.221,9.221,0,0,1-2.145,5.9l5.178,5.1a1.173,1.173,0,0,1,0,1.676A1.188,1.188,0,0,1,20.672,21.858Zm-5.99-6.814L20.534,20.8a.2.2,0,0,0,.276,0,.173.173,0,0,0,0-.25l-5.859-5.765.327-.356a8.24,8.24,0,0,0,2.2-5.588A8.426,8.426,0,0,0,8.992.5,8.425,8.425,0,0,0,.506,8.843a8.425,8.425,0,0,0,8.486,8.343,8.6,8.6,0,0,0,5.344-1.866Zm-5.69,1.782a8.053,8.053,0,0,1-8.1-7.982A8.053,8.053,0,0,1,8.992.861a8.053,8.053,0,0,1,8.1,7.982A8.053,8.053,0,0,1,8.992,16.825Zm0-14.965a7.051,7.051,0,0,0-7.1,6.982,7.051,7.051,0,0,0,7.1,6.982,7.051,7.051,0,0,0,7.1-6.982A7.051,7.051,0,0,0,8.992,1.861Z"
                  transform="translate(-0.006)"
                  fill="#0a84fe"
                />
              </g>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </div>

  <div class="container">
    <div class="owner-item">
      <div class="owner-item__top">
        <div
          class="owner-item__img"
          style="background-image: url('img/owner-item-green.png')"
        >
          <img src="img/owner-item.jpg" alt="img" />
        </div>
        <div class="owner-item__info">
          <span>ДЖОННИ КОЛЬТ</span>
          <p><span>Франция,</span> <span>Марсель</span></p>
          <span>ID: 7579086</span>
        </div>
      </div>
      <div class="owner-item__body">
        <div class="owner-item__code">
          <img src="img/qr-code.png" alt="img" /> 000000000000
        </div>
        <div class="owner-item__text">
          <p>Срок действия</p>
          <p><span>06:30</span> <span>26 МАР</span> <span>2022</span></p>
          <p><span>06:30</span> <span>25 МАР</span> <span>2023</span></p>
          <p class="owner-item__type">Classic</p>
        </div>
      </div>
    </div>
    <div class="owner-item">
      <div class="owner-item__top">
        <div
          class="owner-item__img"
          style="background-image: url('img/owner-item-green.png')"
        >
          <img src="img/owner-item.jpg" alt="img" />
        </div>
        <div class="owner-item__info">
          <span>ДЖОННИ КОЛЬТ</span>
          <p><span>Франция,</span> <span>Марсель</span></p>
          <span>ID: 7579086</span>
        </div>
      </div>
      <div class="owner-item__body">
        <div class="owner-item__code">
          <img src="img/qr-code.png" alt="img" /> 000000000000
        </div>
        <div class="owner-item__text">
          <p>Срок действия</p>
          <p><span>06:30</span> <span>26 МАР</span> <span>2022</span></p>
          <p><span>06:30</span> <span>25 МАР</span> <span>2023</span></p>
          <p class="owner-item__type">Classic</p>
        </div>
      </div>
    </div>
    <div class="owner-item">
      <div class="owner-item__top">
        <div
          class="owner-item__img"
          style="background-image: url('img/owner-item-green.png')"
        >
          <img src="img/owner-item.jpg" alt="img" />
        </div>
        <div class="owner-item__info">
          <span>ДЖОННИ КОЛЬТ</span>
          <p><span>Франция,</span> <span>Марсель</span></p>
          <span>ID: 7579086</span>
        </div>
      </div>
      <div class="owner-item__body">
        <div class="owner-item__code">
          <img src="img/qr-code.png" alt="img" /> 000000000000
        </div>
        <div class="owner-item__text">
          <p>Срок действия</p>
          <p><span>06:30</span> <span>26 МАР</span> <span>2022</span></p>
          <p><span>06:30</span> <span>25 МАР</span> <span>2023</span></p>
          <p class="owner-item__type">Classic</p>
        </div>
      </div>
    </div>
  </div>
</section>
