<section class="club-cards club-cards--search">
  <div class="club-cards__upper">Клубные карты</div>
  <div class="container">
    <h1 class="club-cards__title">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="23"
        viewBox="0 0 23 23"
      >
        <g transform="translate(-5.51 2.6)">
          <g transform="translate(5.51 -2.6)">
            <g id="_x34__4_">
              <g>
                <path
                  d="M22.788,21.749,16.85,15.905A9.392,9.392,0,0,0,19.36,9.523,9.6,9.6,0,0,0,9.683,0,9.6,9.6,0,0,0,.006,9.523a9.6,9.6,0,0,0,9.677,9.523,9.732,9.732,0,0,0,6.091-2.127l5.961,5.866a.753.753,0,0,0,1.053,0A.725.725,0,0,0,22.788,21.749ZM9.683,17.58A8.124,8.124,0,0,1,1.495,9.523,8.124,8.124,0,0,1,9.683,1.465a8.124,8.124,0,0,1,8.188,8.058A8.124,8.124,0,0,1,9.683,17.58Z"
                  transform="translate(-0.006)"
                />
              </g>
            </g>
          </g>
        </g>
      </svg>

      Поиск
    </h1>

    <form class="form-search">
      <label class="form-search__group">
        <input
          class="form-search__input"
          type="text"
          placeholder="Номер телефона"
        />
      </label>
      <label class="form-search__group">
        <input
          class="form-search__input"
          type="text"
          placeholder="ID кабинета"
        />
      </label>
      <p class="form-search__text">
        Поиск Клубной карты по номеру телефона или ID кабинета владельца
      </p>

      <button class="form-search__btn btn" type="button">Найти</button>
    </form>
  </div>
</section>
