<section class="py-[20px]">
  <div class="container">
    <div class="text-xl text-center font-light mb-[20px]">Игра</div>

    <div class="min-h-[80vh] relative">
      <div class="accordion-border accordion">
        <button
          class="accordion-border__control accordion-control-btn h-[60px] px-[15px] py-[18px]"
          type="button"
        >
          Поле большое

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </button>

        <div class="accordion-border__content accordion-content">
          <div class="accordion-border__inner">
            <p>Поле большое</p>
          </div>
        </div>
      </div>

      <button
        class="w-[50px] h-[50px] rounded-full absolute bottom-[50px] left-[50%] translate-x-[-50%] btn-shadow flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26.949"
          height="26.949"
          viewBox="0 0 26.949 26.949"
        >
          <path
            d="M10.58,9.528l8.257-8.257A.744.744,0,0,0,17.785.218L9.528,8.475,1.271.218A.744.744,0,0,0,.218,1.271L8.475,9.528.218,17.785a.744.744,0,0,0,1.053,1.053L9.528,10.58l8.257,8.257a.744.744,0,1,0,1.053-1.053Z"
            transform="translate(13.474) rotate(45)"
            fill="#0a84fe"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
