<section class="py-[20px]">
  <div class="container">
    <div class="text-xl text-center font-light">Предложения</div>

    <h1 class="text-[32px] font-light py-[10px]">Создать локацию</h1>
    <p class="mb-[50px]">
      Добавляйте места, объекты, места отдыха и структуру для бронирования
    </p>

    <div
      class="input text-xl text-gray flex flex-col py-1 leading-none justify-around mb-[15px]"
    >
      <label>Название места:</label>
      <input class="" type="text" placeholder="ХХХХХХХХ" />
    </div>

    <button
      class="input border-2 border-blue h-[60px] flex items-center w-full text-xl mb-[10px]"
    >
      Поле большое
    </button>
    <button class="input h-[60px] flex items-center w-full text-xl">
      Общая территория
    </button>
  </div>
</section>
