<section class="bank-cards py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light mb-[20px]">Финансы</h1>

    <button
      class="flex items-center gap-[20px] py-[20px] text-xl input-border-bottom w-full"
      type="button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="31"
        height="31"
        viewBox="0 0 31 31"
      >
        <g
          id="Добавить_карту"
          data-name="Добавить карту"
          transform="translate(-16 -340)"
        >
          <g
            id="Эллипс_37"
            data-name="Эллипс 37"
            transform="translate(16 340)"
            fill="#fff"
            stroke="#000"
            stroke-width="1"
          >
            <circle cx="15.5" cy="15.5" r="15.5" stroke="none" />
            <circle cx="15.5" cy="15.5" r="15" fill="none" />
          </g>
          <path
            id="Контур_157"
            data-name="Контур 157"
            d="M6.663,6l5.2-5.2A.469.469,0,1,0,11.2.138L6,5.338.8.138A.469.469,0,0,0,.137.8L5.337,6l-5.2,5.2a.469.469,0,0,0,.663.663L6,6.664l5.2,5.2a.469.469,0,0,0,.663-.663Z"
            transform="translate(31.486 347) rotate(45)"
          />
        </g>
      </svg>
      <span>Добавить организацию</span>
    </button>
  </div>
</section>
