<section class="bank-cards py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light mb-[20px]">Финансы</h1>

    <div class="flex flex-col relative">
      <button
        class="absolute w-[60px] h-[60px] flex items-center justify-center rounded-full btn-shadow bg-white top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.5"
          height="25.231"
          viewBox="0 0 20.5 25.231"
        >
          <g
            id="Сгруппировать_3046"
            data-name="Сгруппировать 3046"
            transform="translate(-48)"
          >
            <path
              id="Контур_431"
              data-name="Контур 431"
              d="M66.529,3.154H62.192V2.365A2.368,2.368,0,0,0,59.827,0H56.673a2.368,2.368,0,0,0-2.365,2.365v.788H49.971A1.973,1.973,0,0,0,48,5.125v2.76a.788.788,0,0,0,.788.788h.431l.681,14.3a2.363,2.363,0,0,0,2.363,2.253H64.237A2.362,2.362,0,0,0,66.6,22.978l.681-14.3h.431a.788.788,0,0,0,.788-.788V5.125A1.973,1.973,0,0,0,66.529,3.154ZM55.885,2.365a.789.789,0,0,1,.788-.788h3.154a.789.789,0,0,1,.788.788v.788H55.885Zm-6.308,2.76a.4.4,0,0,1,.394-.394H66.529a.4.4,0,0,1,.394.394V7.1H49.577ZM65.024,22.9a.788.788,0,0,1-.788.751H52.263a.787.787,0,0,1-.788-.751L50.8,8.673H65.7Z"
              fill="#ff0a0a"
            />
            <path
              id="Контур_432"
              data-name="Контур 432"
              d="M240.788,219.827a.789.789,0,0,0,.788-.788v-10.25a.788.788,0,0,0-1.577,0v10.25A.788.788,0,0,0,240.788,219.827Z"
              transform="translate(-182.539 -197.75)"
              fill="#ff0a0a"
            />
            <path
              id="Контур_433"
              data-name="Контур 433"
              d="M320.788,219.827a.788.788,0,0,0,.788-.788v-10.25a.788.788,0,0,0-1.577,0v10.25A.788.788,0,0,0,320.788,219.827Z"
              transform="translate(-258.596 -197.75)"
              fill="#ff0a0a"
            />
            <path
              id="Контур_434"
              data-name="Контур 434"
              d="M160.788,219.827a.788.788,0,0,0,.788-.788v-10.25a.788.788,0,0,0-1.577,0v10.25A.788.788,0,0,0,160.788,219.827Z"
              transform="translate(-106.48 -197.75)"
              fill="#ff0a0a"
            />
          </g>
        </svg>
      </button>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">ОПФ</label>
        <input class="block w-full" type="text" placeholder="ООО" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Наименование</label>
        <input class="block w-full" type="text" placeholder="Аврора" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Налоговый режим</label>
        <input class="block w-full" type="text" placeholder="Выбрать" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">ИНН</label>
        <input class="block w-full" type="text" placeholder="ХХХХХХХХХХ" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">КПП (при наличии)</label>
        <input class="block w-full" type="text" placeholder="ХХХХХХХХХ" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">БИК</label>
        <input class="block w-full" type="text" placeholder="ХХХХХХХХХ" />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Р/с</label>
        <input
          class="block w-full"
          type="text"
          placeholder="40702810127499101230"
        />
      </div>
      <div class="input flex flex-col justify-between py-2 w-full mb-[10px]">
        <label class="text-gray">Карточка клиента</label>
        <input class="block w-full" type="text" placeholder="Прикрепить jpg" />
      </div>

      <button
        class="btn h-[60px] rounded-none bg-blue text-white"
        type="button"
      >
        Добавить
      </button>
    </div>
  </div>
</section>
