<section class="history py-[20px]">
  <div class="container">
    <h2 class="text-[32px] font-light mb-1">История посещен…</h2>
    <p class="mb-[30px]">
      Заметили, что кто-то посещает систему без Вашего согласия? Измените код
      доступа в настройках личного кабинета
    </p>

    <ul>
      <li class="flex flex-col mb-[25px]">
        <p class="text-xl">Мобильная версия</p>
        <div class="flex items-center">
          <span class="mr-1">09.06.2021 </span>
          <span>17:16</span>
          <span class="mx-3">|</span>
          <span>ID: 7579086</span>
        </div>
      </li>
      <li class="flex flex-col mb-[25px]">
        <p class="text-xl">Мобильная версия</p>
        <div class="flex items-center">
          <span class="mr-1">09.06.2021 </span>
          <span>17:16</span>
          <span class="mx-3">|</span>
          <span>ID: 7579086</span>
        </div>
      </li>
      <li class="flex flex-col mb-[25px]">
        <p class="text-xl">Мобильная версия</p>
        <div class="flex items-center">
          <span class="mr-1">09.06.2021 </span>
          <span>17:16</span>
          <span class="mx-3">|</span>
          <span>ID: 7579086</span>
        </div>
      </li>
      <li class="flex flex-col">
        <p class="text-xl">Мобильная версия(вариант2)</p>
        <div class="flex items-center">
          <span class="mr-1">09.06.2021 </span>
          <span>17:16</span>
          <span class="mx-3">|</span>
          <span>176.49.146.158</span>
        </div>
      </li>
    </ul>
  </div>
</section>
