<section class="login-one py-[20px]">
  <div class="container">
    <h2 class="text-[32px] font-light leading-none mb-1">
      Единый Аккаунт для любой среды
    </h2>
    <p class="mb-[16px]">
      Работа с сервисом будет еще удобнее, если Вы заполните все формы
    </p>

    <form>
      <input
        class="input block w-full h-[60px] border border-gray text-xl px-[18px] py-[15px] mb-[10px]"
        type="text"
        placeholder="Введите номер телефона…"
      />
      <button
        class="btn w-full h-[60px] flex items-center justify-center rounded-none"
      >
        Сохранить
      </button>
    </form>
  </div>
</section>
