<section class="appeals py-[20px] text-gray">
  <div class="container">
    <h1 class="text-[32px] font-light text-gray leading-[1.1]">Сбор статистики</h1>
    <p class="mb-[15px]">
      Чтобы сделать сайт лучше, мы собираем статистику в обезличенном виде. Ваши
      данные остаются полностью конфиденциальны и не передаются третьим лицам.
    </p>
    <a class="block text-blue mb-[30px]" href="#">
      Согласие на обработку данных
    </a>

    <div class="flex items-center justify-between leading-none">
      <div class="flex flex-col">
        <span class="text-xl">Я разрешаю собирать</span>
        <span>Статистика по моб. версии</span>
      </div>

      <label class="switch flex-shrink-0" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
      </label>
    </div>
  </div>
</section>
