<section class="appeals py-[20px] text-gray">
  <div class="container">
    <h1 class="text-[32px] font-light text-gray leading-[1.1]">
      Кэширование данных
    </h1>
    <p class="mb-[50px]">
      Кэширование ускоряет работу приложения, оно позволяет быстрее отображать
      ранее загруженные данные, не дожидаясь их повторного получения с сервера
    </p>

    <div class="flex items-center justify-between leading-none">
      <div class="flex flex-col">
        <span class="text-xl">Кэширование данных</span>
      </div>

      <label class="switch flex-shrink-0" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
      </label>
    </div>
  </div>
</section>
