<section class="notifications">
  <div class="container">
    <div class="top flex items-center justify-between h-[60px] mb-[10px]">
      <div class="flex items-center gap-[30px]">
        <button class="mr-[30px]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="11.61"
            height="19.762"
            viewBox="0 0 11.61 19.762"
          >
            <path
              id="Контур_73"
              data-name="Контур 73"
              d="M112.773,9.11,103.978.316a1.083,1.083,0,0,0-1.529,0L101.8.963a1.082,1.082,0,0,0,0,1.529l7.385,7.385-7.393,7.393a1.084,1.084,0,0,0,0,1.529l.648.647a1.083,1.083,0,0,0,1.529,0l8.8-8.8a1.091,1.091,0,0,0,0-1.534Z"
              transform="translate(113.088 19.762) rotate(180)"
              fill="#0a84fe"
            />
          </svg>
        </button>
        <button>
          <svg
            id="loupe"
            xmlns="http://www.w3.org/2000/svg"
            width="17.155"
            height="17.155"
            viewBox="0 0 17.155 17.155"
          >
            <g id="Сгруппировать_59" data-name="Сгруппировать 59">
              <g id="Сгруппировать_58" data-name="Сгруппировать 58">
                <path
                  id="Контур_45"
                  data-name="Контур 45"
                  d="M7.555,0a7.555,7.555,0,1,0,7.555,7.555A7.563,7.563,0,0,0,7.555,0Zm0,13.715a6.16,6.16,0,1,1,6.16-6.16A6.167,6.167,0,0,1,7.555,13.715Z"
                />
              </g>
            </g>
            <g
              id="Сгруппировать_61"
              data-name="Сгруппировать 61"
              transform="translate(11.762 11.762)"
            >
              <g id="Сгруппировать_60" data-name="Сгруппировать 60">
                <path
                  id="Контур_46"
                  data-name="Контур 46"
                  d="M356.234,355.248l-4-4a.7.7,0,0,0-.986.986l4,4a.7.7,0,0,0,.986-.986Z"
                  transform="translate(-351.046 -351.046)"
                />
              </g>
            </g>
          </svg>
        </button>
      </div>
      <div class="flex items-center gap-[30px]">
        <button class="header__btn btn-notification">
          <span class="count"> 15 </span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="19.901"
            height="22.643"
            viewBox="0 0 19.901 22.643"
          >
            <g transform="translate(-10)">
              <path
                d="M47.8,11.625V9.508a6.867,6.867,0,0,0-4.865-6.56V1.99a1.99,1.99,0,0,0-3.98,0v.958a6.867,6.867,0,0,0-4.865,6.56v2.117a10.416,10.416,0,0,1-2.911,7.242.663.663,0,0,0,.479,1.123H37.7a3.317,3.317,0,0,0,6.5,0h6.037a.663.663,0,0,0,.479-1.123A10.416,10.416,0,0,1,47.8,11.625ZM40.286,1.99a.663.663,0,0,1,1.327,0v.7c-.218-.021-.44-.032-.663-.032s-.445.011-.663.032Zm.663,19.326a1.993,1.993,0,0,1-1.876-1.327h3.752a1.993,1.993,0,0,1-1.876,1.327Zm-7.857-2.653a11.729,11.729,0,0,0,2.329-7.038V9.508a5.528,5.528,0,0,1,11.056,0v2.117a11.729,11.729,0,0,0,2.329,7.038Z"
                transform="translate(-20.999)"
              />
            </g>
          </svg>
        </button>
        <button
          class="header__btn btn-user flex items-center justify-center"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21.663"
            height="21.663"
            viewBox="0 0 21.663 21.663"
          >
            <g>
              <path
                d="M18.49,14a10.79,10.79,0,0,0-4.116-2.582,6.262,6.262,0,1,0-7.086,0A10.848,10.848,0,0,0,0,21.663H1.692a9.139,9.139,0,0,1,18.278,0h1.692A10.761,10.761,0,0,0,18.49,14Zm-7.659-3.172A4.569,4.569,0,1,1,15.4,6.262,4.575,4.575,0,0,1,10.831,10.831Z"
                transform="translate(0)"
              />
            </g>
          </svg>
        </button>
      </div>
    </div>

    <div class="n-tabs">
      <div class="n-tabs-top flex items-center gap-[20px]">
        <button class="n-tabs-btn active text-xl" type="button">
          Уведомления
        </button>
        <button class="n-tabs-btn text-xl" type="button">Предложения</button>
      </div>
      <div class="n-tabs-content active">
        <div class="flex gap-[10px] py-[20px]">
          <div class="flex flex-col justify-between py-[15px]">
            <span class="text-red">09:20</span>

            <div class="border rounded-full w-[40px] h-[40px]"></div>
          </div>
          <div
            class="bg-blue-light p-[15px] pt-[5px] rounded-md text-xl font-light"
          >
            <p>
              Поздравляю! Теперь я часть большого сообщества БРОНИРУЙ и ИГРАЙ.
              Вместе мы создаем будущее. Как насчет ответить мне в этом чате
            </p>
          </div>
        </div>
      </div>
      <div class="n-tabs-content">
        <div class="flex gap-[10px] py-[20px]">
          <div class="flex flex-col justify-between py-[15px]">
            <span class="">09:20</span>

            <div class="border rounded-full w-[40px] h-[40px]"></div>
          </div>
          <div
            class="bg-blue-light p-[15px] pt-[5px] rounded-md text-xl font-light"
          >
            <p>
              Поздравляю! Теперь я часть большого сообщества БРОНИРУЙ и ИГРАЙ.
              Вместе мы создаем будущее. Как насчет ответить мне в этом чате
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
