<section class="object">
  <div class="object-promo">
    <div
      class="object-promo__bg"
      style="background-image: url('img/object-promo.png')"
    ></div>
    <div class="object-promo__info">
      <div class="object-promo__logo">
        <picture>
          <source srcset="img/golf-club.webp" type="image/webp" />
          <img src="img/golf-club.png" alt="img" />
        </picture>
      </div>
      <h1 class="object-promo__title">Cколково гольф клуб</h1>
      <p class="object-promo__address">
        <span>Россия</span> /
        <span>Московская область</span>
      </p>
      <div class="object-rating">
        <div class="object-rating__stars">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <g opacity="0.3">
              <g transform="translate(0 0)">
                <path
                  d="M14.684,17.378a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.694a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.378ZM10.513,20.73a.465.465,0,0,0-.124.4l.67,4.092L7.553,23.29a.413.413,0,0,0-.4,0L3.647,25.222l.669-4.092a.465.465,0,0,0-.124-.4l-2.836-2.9,3.919-.6a.433.433,0,0,0,.324-.247l1.753-3.723,1.753,3.723a.433.433,0,0,0,.324.247l3.919.6Z"
                  transform="translate(0 -11.794)"
                />
              </g>
            </g>
          </svg>
        </div>
        <div class="object-rating__count"><span>10</span> Отзывов</div>
      </div>
    </div>
    <div class="object-promo__actions">
      <button class="object-promo__booking-btn btn-booking" type="button">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24.128"
            height="26.848"
            viewBox="0 0 24.128 26.848"
          >
            <defs>
              <clipPath id="clip">
                <use xlink:href="#fill" />
              </clipPath>
              <clipPath id="clip-2">
                <use xlink:href="#fill-2" />
              </clipPath>
              <clipPath id="clip-3">
                <use xlink:href="#fill-3" />
              </clipPath>
              <clipPath id="clip-4">
                <use xlink:href="#fill-4" />
              </clipPath>
            </defs>
            <g
              transform="translate(3.406 11.725) rotate(13)"
              fill="none"
              stroke="#fff"
              stroke-width="4"
            >
              <rect
                id="fill"
                width="1.517"
                height="15.143"
                rx="0.758"
                stroke="none"
              />
              <path
                d="M0,2h1.5167797803878784M2,0v15.143181800842285M1.5167797803878784,13.143181800842285h-1.5167797803878784M-0.4832202196121216,15.143181800842285v-15.143181800842285"
                fill="none"
                clip-path="url(#clip)"
              />
            </g>
            <g
              transform="translate(17.12 9.357) rotate(90)"
              fill="none"
              stroke="#fff"
              stroke-width="4"
            >
              <rect
                id="fill-2"
                width="1.517"
                height="16.251"
                rx="0.758"
                stroke="none"
              />
              <path
                d="M0,2h1.5167793035507202M2,0v16.25090980529785M1.5167793035507202,14.250909805297852h-1.5167793035507202M-0.4832206964492798,16.25090980529785v-16.25090980529785"
                fill="none"
                clip-path="url(#clip-2)"
              />
            </g>
            <g
              transform="matrix(-0.978, 0.208, -0.208, -0.978, 24.128, 26.532)"
              fill="none"
              stroke="#fff"
              stroke-width="2"
            >
              <rect
                id="fill-3"
                width="1.517"
                height="21.262"
                rx="0.758"
                stroke="none"
              />
              <path
                d="M0,1h1.5167797803878784M1,0v21.262266159057617M1.5167797803878784,20.262266159057617h-1.5167797803878784M0.5167797803878784,21.262266159057617v-21.262266159057617"
                fill="none"
                clip-path="url(#clip-3)"
              />
            </g>
            <g
              transform="matrix(-0.875, -0.485, 0.485, -0.875, 19.524, 6.669)"
              fill="none"
              stroke="#fff"
              stroke-width="4"
            >
              <rect
                id="fill-4"
                width="1.517"
                height="6.785"
                rx="0.758"
                stroke="none"
              />
              <path
                d="M0,2h1.5167794227600098M2,0v6.784725666046143M1.5167794227600098,4.784725666046143h-1.5167794227600098M-0.48322057723999023,6.784725666046143v-6.784725666046143"
                fill="none"
                clip-path="url(#clip-4)"
              />
            </g>
          </svg>
        </span>
        <span class="text"> Бронировать</span>
      </button>
      <button class="btn-fav" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="68"
          height="68"
          viewBox="0 0 68 68"
        >
          <defs>
            <filter
              x="0"
              y="0"
              width="68"
              height="68"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-opacity="0.502" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g transform="translate(-244 -407)">
            <g transform="translate(58 -51)">
              <g transform="translate(70 14)">
                <g transform="translate(125 450)">
                  <g
                    transform="matrix(1, 0, 0, 1, -9, -6)"
                    filter="url(#Эллипс_98)"
                  >
                    <circle
                      id="Эллипс_98-2"
                      data-name="Эллипс 98"
                      cx="25"
                      cy="25"
                      r="25"
                      transform="translate(9 6)"
                      fill="#fff"
                    />
                  </g>
                </g>
              </g>
            </g>
            <g transform="translate(264 413.203)">
              <g transform="translate(0 11.794)">
                <path
                  id="Контур_327"
                  data-name="Контур 327"
                  d="M27.461,21.755a.806.806,0,0,0-.65-.548l-8.525-1.239-3.813-7.725a.806.806,0,0,0-1.445,0L9.215,19.968.69,21.207a.806.806,0,0,0-.446,1.374l6.169,6.013L4.956,37.085a.806.806,0,0,0,1.169.849l7.625-4.009,7.625,4.009a.806.806,0,0,0,1.169-.849l-1.456-8.491,6.169-6.013A.806.806,0,0,0,27.461,21.755Zm-7.8,5.981a.805.805,0,0,0-.232.713l1.252,7.3L14.125,32.3a.806.806,0,0,0-.75,0L6.82,35.748l1.252-7.3a.806.806,0,0,0-.232-.713l-5.3-5.169L9.866,21.5a.806.806,0,0,0,.607-.441L13.75,14.42l3.278,6.641a.806.806,0,0,0,.607.441l7.329,1.065Z"
                  transform="translate(0 -11.794)"
                  fill="#0a84fe"
                />
              </g>
            </g>
          </g>
        </svg>
      </button>
    </div>
  </div>

  <div class="object-tabs">
    <div class="object-tabs__top">
      <ul class="object-tabs__list">
        <li class="object-tabs__item">
          <button class="object-tabs__btn active" type="button">
            Описание
          </button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">Предложения</button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">Галерея</button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">Новости</button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">
            Условия и Правила
          </button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">Карты, Схемы</button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">Статистика</button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">Зал славы</button>
        </li>
        <li class="object-tabs__item">
          <button class="object-tabs__btn" type="button">Контакты</button>
        </li>
      </ul>
    </div>

    <div class="object-tabs__content active">
      <div class="container">
        <div class="object-descr">
          <h3 class="object-descr__title">Описание</h3>
          <p class="object-descr__text">
            Долго происходил заезд. Не так вкусно готовили в этот раз. При
            заселении были не достаточно любезны. Долго происходил заезд. Не так
            вкусно готовили в этот раз. При заселении были не достаточно
            любезны…д. Долго происходил заезд. Не так вкусно готовили в этот
            раз. При заселении были не достаточно любезны…д
          </p>
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="container">
        <div class="object-offers">
          <h3 class="object-offers__title">Предложения</h3>
          <ul class="object-offers__list">
            <li class="offers-item">
              <img src="img/offers/1.jpg" alt="img" />
              <div class="offers-item__body">
                <span class="offers-item__name"> Игра</span>
              </div>
            </li>
            <li class="offers-item">
              <img src="img/offers/2.jpg" alt="img" />
              <div class="offers-item__body">
                <span class="offers-item__name"> Отдых</span>
              </div>
            </li>
            <li class="offers-item">
              <img src="img/offers/3.jpg" alt="img" />
              <div class="offers-item__body">
                <span class="offers-item__name"> Услуги</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="gallery">
        <div class="gallery__slider swiper">
          <ul class="gallery__wrapper swiper-wrapper">
            <li
              class="gallery__slide swiper-slide"
              style="background-image: url('img/promo-slider/1.jpg')"
            ></li>
            <li
              class="gallery__slide swiper-slide"
              style="background-image: url('img/promo-slider/1.jpg')"
            ></li>
            <li
              class="gallery__slide swiper-slide"
              style="background-image: url('img/promo-slider/1.jpg')"
            ></li>
            <li
              class="gallery__slide swiper-slide"
              style="background-image: url('img/promo-slider/1.jpg')"
            ></li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="news">
        <div class="news__slider swiper">
          <ul class="news__wrapper swiper-wrapper">
            <li
              class="news__slide swiper-slide"
              style="background-image: url('img/object-news/1.png')"
            >
              <p class="news__title">
                Открытие <br />
                летней веранды
              </p>
            </li>
            <li
              class="news__slide swiper-slide"
              style="background-image: url('img/object-news/1.png')"
            >
              <div class="news__offer">
                <p class="news__heading">Место притяжения</p>
                <p class="news__text">
                  Новое меню, десерт, рецепт и бранч, на которые стоит обратить
                  внимание. Теперь ежедневно с 7:00 до 12:00 (а по выходным до
                  16:00) здесь можно позавтракать
                </p>
              </div>
            </li>
            <li
              class="news__slide swiper-slide"
              style="background-image: url('img/object-news/1.png')"
            >
              <p class="news__title">
                Открытие <br />
                летней веранды
              </p>
            </li>
            <li
              class="news__slide swiper-slide"
              style="background-image: url('img/object-news/1.png')"
            >
              <div class="news__offer">
                <p class="news__heading">Место притяжения</p>
                <p class="news__text">
                  Новое меню, десерт, рецепт и бранч, на которые стоит обратить
                  внимание. Теперь ежедневно с 7:00 до 12:00 (а по выходным до
                  16:00) здесь можно позавтракать
                </p>
              </div>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="container">
        <div class="object-rules">
          <strong class="object-rules__title">Посещение Гольф-Клуба:</strong>
          <p class="object-rules__text">
            - Часы работы Клуба устанавливаются Администрацией Стандартное время
            работы Клуба: с Пн по Пт: 9.00-21.00, Сб-Вс: 08.00–20.00 <br />
            - Члены Клуба и Гости обязаны соблюдать чистоту во всех помещениях.
            Гости несут материальную ответственность. <br />
            - В связи с тем, что гольф-курорт находится в лесной зоне, и на его
            территории встречаются различные животные, такие как косули, лоси,
            зайцы, лисы, а порой и змеи, игроки и Гости Клуба должны соблюдать
            осторожность.
          </p>
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="container">
        <div class="object-maps">
          <div class="object-maps__slider swiper">
            <ul class="object-maps__wrapper swiper-wrapper">
              <li class="object-maps__slide swiper-slide">
                <a class="object-maps-item" href="#" download>
                  <picture>
                    <source srcset="img/object-maps/1.webp" type="image/webp" />
                    <img src="img/object-maps/1.png" alt="img" />
                  </picture>

                  <div class="object-maps-item__badge">PDF</div>
                  <div class="object-maps-item__download">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="6.669"
                      height="10.003"
                      viewBox="0 0 6.669 10.003"
                    >
                      <g transform="translate(-475 307.003) rotate(-90)">
                        <g transform="translate(307.003 481.669) rotate(180)">
                          <g transform="translate(0 0)">
                            <path
                              d="M9.942,3.187,6.816.061a.208.208,0,1,0-.295.295l2.77,2.77H.208a.208.208,0,1,0,0,.417H9.292l-2.77,2.77a.208.208,0,1,0,.295.295L9.942,3.482A.208.208,0,0,0,9.942,3.187Z"
                              fill="#fff"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>

                    СКАЧАТЬ
                  </div>
                </a>
              </li>
              <li class="object-maps__slide swiper-slide">
                <a class="object-maps-item" href="#" download>
                  <picture>
                    <source srcset="img/object-maps/2.webp" type="image/webp" />
                    <img src="img/object-maps/2.png" alt="img" />
                  </picture>

                  <div class="object-maps-item__badge">PDF</div>
                  <div class="object-maps-item__download">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="6.669"
                      height="10.003"
                      viewBox="0 0 6.669 10.003"
                    >
                      <g transform="translate(-475 307.003) rotate(-90)">
                        <g transform="translate(307.003 481.669) rotate(180)">
                          <g transform="translate(0 0)">
                            <path
                              d="M9.942,3.187,6.816.061a.208.208,0,1,0-.295.295l2.77,2.77H.208a.208.208,0,1,0,0,.417H9.292l-2.77,2.77a.208.208,0,1,0,.295.295L9.942,3.482A.208.208,0,0,0,9.942,3.187Z"
                              fill="#fff"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>

                    СКАЧАТЬ
                  </div>
                </a>
              </li>
              <li class="object-maps__slide swiper-slide">
                <a class="object-maps-item" href="#" download>
                  <picture>
                    <source srcset="img/object-maps/1.webp" type="image/webp" />
                    <img src="img/object-maps/1.png" alt="img" />
                  </picture>

                  <div class="object-maps-item__badge">PDF</div>
                  <div class="object-maps-item__download">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="6.669"
                      height="10.003"
                      viewBox="0 0 6.669 10.003"
                    >
                      <g transform="translate(-475 307.003) rotate(-90)">
                        <g transform="translate(307.003 481.669) rotate(180)">
                          <g transform="translate(0 0)">
                            <path
                              d="M9.942,3.187,6.816.061a.208.208,0,1,0-.295.295l2.77,2.77H.208a.208.208,0,1,0,0,.417H9.292l-2.77,2.77a.208.208,0,1,0,.295.295L9.942,3.482A.208.208,0,0,0,9.942,3.187Z"
                              fill="#fff"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>

                    СКАЧАТЬ
                  </div>
                </a>
              </li>
              <li class="object-maps__slide swiper-slide">
                <a class="object-maps-item" href="#" download>
                  <picture>
                    <source srcset="img/object-maps/2.webp" type="image/webp" />
                    <img src="img/object-maps/2.png" alt="img" />
                  </picture>

                  <div class="object-maps-item__badge">PDF</div>
                  <div class="object-maps-item__download">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="6.669"
                      height="10.003"
                      viewBox="0 0 6.669 10.003"
                    >
                      <g transform="translate(-475 307.003) rotate(-90)">
                        <g transform="translate(307.003 481.669) rotate(180)">
                          <g transform="translate(0 0)">
                            <path
                              d="M9.942,3.187,6.816.061a.208.208,0,1,0-.295.295l2.77,2.77H.208a.208.208,0,1,0,0,.417H9.292l-2.77,2.77a.208.208,0,1,0,.295.295L9.942,3.482A.208.208,0,0,0,9.942,3.187Z"
                              fill="#fff"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>

                    СКАЧАТЬ
                  </div>
                </a>
              </li>
            </ul>

            <div class="swiper-pagination"></div>
          </div>
          <div class="object-maps__text">
            <div>
              <a href="#">Условия и Правила. </a
              ><a href="#">Нормативы и рейт…</a>
            </div>
            <a href="#">Схема объектов</a>
          </div>
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="container">
        <div class="object-statistics">
          <div class="object-statistics__circle"></div>

          <div class="object-statistics__text">
            Аналитика. Опыт. Исследования
          </div>
          <a class="object-statistics__link" href="#">
            Доступна в Текущих и Прошлых Бронях
          </a>
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="container">
        <div class="object-fame">
          <img src="img/hall-of-fame.png" alt="img" />
        </div>
      </div>
    </div>
    <div class="object-tabs__content">
      <div class="object-map">
        <div class="container">
          <address class="object-map__address">
            Россия. Московская обл., п. Нахабино, <br />
            Какая-нибудь улица, 32 ….
          </address>
          <p class="object-map__text">Карта местности</p>
        </div>

        <div class="object-map__map">
          <img src="img/map.png" alt="img" />

          <ul class="maps-nav">
            <li class="maps-nav__item">
              <button class="maps-nav__btn email" type="button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26.983"
                  height="18.322"
                  viewBox="0 0 26.983 18.322"
                >
                  <g transform="translate(0.5 0.5)">
                    <g>
                      <path
                        d="M24.651,85.333H1.333A1.336,1.336,0,0,0,0,86.665v14.657a1.336,1.336,0,0,0,1.333,1.333H24.651a1.336,1.336,0,0,0,1.333-1.333V86.665A1.336,1.336,0,0,0,24.651,85.333Zm-.5,1-10.393,7.8a1.393,1.393,0,0,1-1.533,0l-10.393-7.8ZM18.6,94.642l5.663,7c.006.007.013.012.019.019H1.7c.006-.007.013-.012.019-.019l5.663-7a.5.5,0,0,0-.777-.629L1,100.94V86.957l10.626,7.97a2.385,2.385,0,0,0,2.732,0l10.626-7.97V100.94l-5.608-6.927a.5.5,0,0,0-.777.629Z"
                        transform="translate(0 -85.333)"
                        fill="#0a84fe"
                        stroke="#0a84fe"
                        stroke-width="1"
                      />
                    </g>
                  </g>
                </svg>
              </button>
            </li>
            <li class="maps-nav__item">
              <button class="maps-nav__btn booking" type="button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24.128"
                  height="26.848"
                  viewBox="0 0 24.128 26.848"
                >
                  <defs>
                    <clipPath id="clip">
                      <use xlink:href="#fill" />
                    </clipPath>
                    <clipPath id="clip-2">
                      <use xlink:href="#fill-2" />
                    </clipPath>
                    <clipPath id="clip-3">
                      <use xlink:href="#fill-3" />
                    </clipPath>
                    <clipPath id="clip-4">
                      <use xlink:href="#fill-4" />
                    </clipPath>
                  </defs>
                  <g transform="translate(0 0)">
                    <g
                      transform="translate(3.406 11.725) rotate(13)"
                      fill="none"
                      stroke="#fff"
                      stroke-width="4"
                    >
                      <rect
                        id="fill"
                        width="1.517"
                        height="15.143"
                        rx="0.758"
                        stroke="none"
                      />
                      <path
                        d="M0,2h1.5167797803878784M2,0v15.143181800842285M1.5167797803878784,13.143181800842285h-1.5167797803878784M-0.4832202196121216,15.143181800842285v-15.143181800842285"
                        fill="none"
                        clip-path="url(#clip)"
                      />
                    </g>
                    <g
                      transform="translate(17.12 9.357) rotate(90)"
                      fill="none"
                      stroke="#fff"
                      stroke-width="4"
                    >
                      <rect
                        id="fill-2"
                        width="1.517"
                        height="16.251"
                        rx="0.758"
                        stroke="none"
                      />
                      <path
                        d="M0,2h1.5167793035507202M2,0v16.25090980529785M1.5167793035507202,14.250909805297852h-1.5167793035507202M-0.4832206964492798,16.25090980529785v-16.25090980529785"
                        fill="none"
                        clip-path="url(#clip-2)"
                      />
                    </g>
                    <g
                      transform="matrix(-0.978, 0.208, -0.208, -0.978, 24.128, 26.532)"
                      fill="none"
                      stroke="#fff"
                      stroke-width="2"
                    >
                      <rect
                        id="fill-3"
                        width="1.517"
                        height="21.262"
                        rx="0.758"
                        stroke="none"
                      />
                      <path
                        d="M0,1h1.5167797803878784M1,0v21.262266159057617M1.5167797803878784,20.262266159057617h-1.5167797803878784M0.5167797803878784,21.262266159057617v-21.262266159057617"
                        fill="none"
                        clip-path="url(#clip-3)"
                      />
                    </g>
                    <g
                      transform="matrix(-0.875, -0.485, 0.485, -0.875, 19.524, 6.669)"
                      fill="none"
                      stroke="#fff"
                      stroke-width="4"
                    >
                      <rect
                        id="fill-4"
                        width="1.517"
                        height="6.785"
                        rx="0.758"
                        stroke="none"
                      />
                      <path
                        d="M0,2h1.5167794227600098M2,0v6.784725666046143M1.5167794227600098,4.784725666046143h-1.5167794227600098M-0.48322057723999023,6.784725666046143v-6.784725666046143"
                        fill="none"
                        clip-path="url(#clip-4)"
                      />
                    </g>
                  </g>
                </svg>
              </button>
            </li>
            <li class="maps-nav__item">
              <button class="maps-nav__btn route" type="button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="23.423"
                  height="23.423"
                  viewBox="0 0 23.423 23.423"
                >
                  <path
                    d="M4.334,13.55a1.372,1.372,0,1,0,1.992,1.639H9.882a1.372,1.372,0,1,1,0,2.745H4.392a2.287,2.287,0,1,0,0,4.575H8.967a.457.457,0,1,0,0-.915H4.392a1.372,1.372,0,0,1,0-2.745h5.49a2.287,2.287,0,1,0,0-4.575H6.326a1.379,1.379,0,0,0-.6-.724L9.224,7.817a5.032,5.032,0,1,0-8.384,0Zm.7,1.639a.457.457,0,1,1,.457-.457A.458.458,0,0,1,5.032,15.188Zm0-14.273a4.118,4.118,0,0,1,3.426,6.4l-.01.016-3.416,5.6L1.606,7.317A4.118,4.118,0,0,1,5.032.915Z"
                    fill="#fff"
                  />
                  <path
                    d="M62.287,64.575A2.287,2.287,0,1,0,60,62.287,2.29,2.29,0,0,0,62.287,64.575Zm0-3.66a1.372,1.372,0,1,1-1.372,1.372A1.374,1.374,0,0,1,62.287,60.915Z"
                    transform="translate(-57.255 -57.255)"
                    fill="#fff"
                  />
                  <path
                    d="M281.764,166a5.033,5.033,0,0,0-4.189,7.821l3.481,5.46a1.38,1.38,0,0,0-.585.718h-4.013a.457.457,0,0,0,0,.915h4.013a1.372,1.372,0,1,0,2-1.633l3.481-5.46A5.033,5.033,0,0,0,281.764,166Zm0,14.914a.457.457,0,1,1,.457-.457A.458.458,0,0,1,281.764,180.914Zm3.426-7.6-3.426,5.374-3.426-5.374a4.117,4.117,0,1,1,6.852,0Z"
                    transform="translate(-263.374 -158.406)"
                    fill="#fff"
                  />
                  <path
                    d="M354.287,226a2.287,2.287,0,1,0,2.287,2.287A2.29,2.29,0,0,0,354.287,226Zm0,3.66a1.372,1.372,0,1,1,1.372-1.372A1.374,1.374,0,0,1,354.287,229.66Z"
                    transform="translate(-335.897 -215.661)"
                    fill="#fff"
                  />
                  <ellipse
                    cx="0.332"
                    cy="0.664"
                    rx="0.332"
                    ry="0.664"
                    transform="translate(10.632 21.263)"
                    fill="#fff"
                  />
                </svg>
              </button>
            </li>
            <li class="maps-nav__item">
              <button class="maps-nav__btn fav" type="button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26.793"
                  height="25.599"
                  viewBox="0 0 26.793 25.599"
                >
                  <g
                    id="star_2_"
                    data-name="star (2)"
                    transform="translate(0.511 -11.294)"
                  >
                    <g transform="translate(0 11.794)">
                      <path
                        d="M25.734,21.129a.755.755,0,0,0-.609-.514l-7.989-1.161-3.573-7.239a.755.755,0,0,0-1.354,0L8.635,19.454.647,20.615A.755.755,0,0,0,.228,21.9l5.781,5.635L4.644,35.494a.755.755,0,0,0,1.1.8l7.145-3.757,7.145,3.757a.755.755,0,0,0,1.1-.8l-1.365-7.957L25.542,21.9A.755.755,0,0,0,25.734,21.129Zm-7.31,5.6a.755.755,0,0,0-.217.668l1.173,6.84-6.143-3.229a.755.755,0,0,0-.7,0l-6.143,3.23L7.564,27.4a.755.755,0,0,0-.217-.668L2.378,21.889l6.868-1a.755.755,0,0,0,.568-.413l3.072-6.223,3.071,6.223a.755.755,0,0,0,.568.413l6.868,1Z"
                        transform="translate(0 -11.794)"
                        fill="#0a84fe"
                        stroke="#0a84fe"
                        stroke-width="1"
                      />
                    </g>
                  </g>
                </svg>
              </button>
            </li>
          </ul>
        </div>

        <div class="container">
          <p class="object-map__text">ID кабинета: 7579086</p>

          <div class="object-map__item">
            <p class="object-map__item-top">
              <span>Телефон 1 </span> <span class="blue">Время. Период</span>
            </p>
            <p class="object-map__item-phone">+7 (ХХХ) ХХХ ХХ ХХ</p>
          </div>
          <div class="object-map__item">
            <p class="object-map__item-top">
              <span>Телефон 2 </span> <span class="blue">06.00 - 19.00</span>
            </p>
            <p class="object-map__item-phone">+7 (ХХХ) ХХХ ХХ ХХ</p>
          </div>
        </div>
      </div>
      <div class="get-route">
        <span class="get-route__name">Проложить маршрут</span>
      </div>
      <div class="container">
        <address class="get-route__address">
          Московская обл., п. Нахабино, Какая-нибудь улица, 32 ….
        </address>

        <ul class="maps-btns">
          <li class="maps-btns__item">
            <button class="maps-btns__btn" type="button">
              <img src="img/map-icons/apple.jpg" alt="imf" />
              <span>
                Apple <br />
                Maps
              </span>
            </button>
          </li>
          <li class="maps-btns__item">
            <button class="maps-btns__btn" type="button">
              <img src="img/map-icons/yandex-nav.jpg" alt="imf" />
              <span>
                Яндекс <br />
                Навигатор
              </span>
            </button>
          </li>
          <li class="maps-btns__item">
            <button class="maps-btns__btn" type="button">
              <img src="img/map-icons/yandex-map.jpg" alt="imf" />
              <span>
                Яндекс <br />
                Карты
              </span>
            </button>
          </li>
          <li class="maps-btns__item">
            <button class="maps-btns__btn" type="button">
              <img src="img/map-icons/google.jpg" alt="imf" />
              <span>
                Google <br />
                Maps
              </span>
            </button>
          </li>
        </ul>
      </div>

   
    </div>
  </div>
</section>
