<section class="py-[20px]">
  <div class="container">
    <div class="text-[32px] text-left font-light mb-[20px]">Редактировать</div>

    <div class="relative">
      <div class="accordion-border accordion mb-[10px]">
        <button
          class="accordion-border__control accordion-control-btn h-[60px] px-[15px] py-[18px]"
          type="button"
        >
          Корт большой

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </button>

        <div class="accordion-border__content accordion-content">
          <div class="accordion-border__inner">
            <p>Корт большой</p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-[10px] relative">
        <div
          class="btns absolute bottom-[10px] left-[50%] translate-x-[-50%] z-[3] grid grid-cols-4 gap-[10px] w-[230px]"
        >
          <button
            class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center btn-shadow"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="26.949"
              height="26.949"
              viewBox="0 0 26.949 26.949"
            >
              <path
                id="Контур_157"
                data-name="Контур 157"
                d="M10.58,9.528l8.257-8.257A.744.744,0,0,0,17.785.218L9.528,8.475,1.271.218A.744.744,0,0,0,.218,1.271L8.475,9.528.218,17.785a.744.744,0,0,0,1.053,1.053L9.528,10.58l8.257,8.257a.744.744,0,1,0,1.053-1.053Z"
                transform="translate(13.474) rotate(45)"
                fill="#0a84fe"
              />
            </svg>
          </button>
          <button
            class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center btn-shadow"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="26.916"
              height="28.588"
              viewBox="0 0 26.916 28.588"
            >
              <g transform="translate(-4.084 -2.043)">
                <rect
                  width="13"
                  height="2"
                  transform="translate(18 14)"
                  fill="#0a84fe"
                />
                <rect
                  width="9"
                  height="2"
                  transform="translate(18 19)"
                  fill="#0a84fe"
                />
                <rect
                  width="13"
                  height="2"
                  transform="translate(18 9)"
                  fill="#0a84fe"
                />
                <g>
                  <path
                    d="M22.378,24.462v4.084H6.042V16.294H14.21V14.252H10.126V8.126a4.085,4.085,0,0,1,7.828-1.634l1.871-.817A6.127,6.127,0,0,0,8.084,8.126v6.126H6.042A2.044,2.044,0,0,0,4,16.294V28.546a2.044,2.044,0,0,0,2.042,2.042H22.378a2.044,2.044,0,0,0,2.042-2.042V24.462Z"
                    transform="translate(0.084 0.043)"
                    fill="#0a84fe"
                  />
                </g>
              </g>
            </svg>
          </button>
          <button
            class="w-[50px] h-[50px] rounded-full bg-green flex items-center justify-center btn-shadow"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18.51"
              height="23.873"
              viewBox="0 0 18.51 23.873"
            >
              <g transform="translate(-24.594 -1396.395)">
                <g transform="translate(24.594 1396.395)">
                  <path
                    d="M1354.617,3445.8a11.149,11.149,0,0,0-2.133-1.1l-.76,1.045,4.319,3.139.76-1.046A10.031,10.031,0,0,0,1354.617,3445.8Zm-3.381.614-.76,1.046,4.319,3.139.76-1.045Zm-1.313,1.807-10.252,14.109,2.348.763,9.9-13.427Zm2.415,1.782-9.844,13.4,1.332,2.092,10.416-14.136Zm-12.931,12.931-1.114,5.634,4.923-2.715-1.4-2.085Z"
                    transform="translate(-1338.293 -3444.695)"
                    fill="#fff"
                  />
                </g>
              </g>
            </svg>
          </button>
          <button
            class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center btn-shadow"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23.355"
              height="26.228"
              viewBox="0 0 23.355 26.228"
            >
              <g transform="translate(19934.145 12718.212)">
                <g transform="translate(-8.645)">
                  <path
                    d="M5.981-13.894H3.469v2.062H2.037v-2.062H.484v-1.185H2.037v-1.027H.484v-1.177H2.037V-22.75H6.063a4.1,4.1,0,0,1,2.782.892,3.034,3.034,0,0,1,1.027,2.415,3.1,3.1,0,0,1-.986,2.463,4.138,4.138,0,0,1-2.8.874H3.469v1.027H5.981ZM3.469-17.284H6.063a2.56,2.56,0,0,0,1.77-.547,2.04,2.04,0,0,0,.607-1.6,2.011,2.011,0,0,0-.63-1.541,2.419,2.419,0,0,0-1.7-.6H3.469Z"
                    transform="translate(-19919.484 -12691)"
                    fill="#0a84fe"
                  />
                  <g transform="translate(-19266.371 -12953.772) rotate(90)">
                    <g transform="translate(236.06 658.629) rotate(-90)">
                      <path
                        d="M10.876,18.215,0,24.838V0H22.355V24.838Z"
                        fill="none"
                        stroke="#0a84fe"
                        stroke-width="1"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>

        <div
          class="bg-[#082341] rounded-[15px] flex flex-col items-center py-[20px] text-[10px] text-white text-center"
        >
          <div class="icon grow h-full mb-[15px]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
            >
              <rect
                id="Прямоугольник_1008"
                data-name="Прямоугольник 1008"
                width="28"
                height="28"
                fill="#fff"
                opacity="0.5"
              />
            </svg>
          </div>

          <div class="">
            <ul class="mb-[10px] leading-[1.3]">
              <li>ТРАВА</li>
              <li>ГРАВИЙ</li>
              <li>НАВЕС</li>
              <li>FREE ZONE</li>
              <li>...</li>
            </ul>

            <span class="block text-[15px] mb-[10px]">ИГРА</span>
            <label class="radio w-[30px] h-[30px] mx-auto">
              <input class="radio__input" type="radio" name="тип" checked />
              <span class="radio__box bg-white"></span>
            </label>
          </div>
        </div>
        <div
          class="bg-[#082341] rounded-[15px] flex flex-col items-center py-[20px] text-[10px] text-white text-center"
        >
          <div class="icon grow h-full mb-[15px]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17.987"
              height="42.916"
              viewBox="0 0 17.987 42.916"
            >
              <path
                id="rect3014-1"
                d="M390.652,29.218a4.265,4.265,0,0,1,4.275,4.273v6.963l-5-1.461c.009-.111.016-.223.016-.337a4.1,4.1,0,1,0-5.288,3.919l0,0,10.276,3.005V67.86a4.265,4.265,0,0,1-4.275,4.273h-9.437a4.265,4.265,0,0,1-4.275-4.273V33.491a4.265,4.265,0,0,1,4.275-4.273h9.437Z"
                transform="translate(-376.941 -29.218)"
                fill="#fff"
                opacity="0.5"
              />
            </svg>
          </div>

          <div>
            <ul class="mb-[10px] leading-[1.3]">
              <li>ОТЕЛЬ</li>
              <li>КОТТЕДЖ</li>
              <li>ЧТО-ТО</li>
              <li>БАНЯ, САУНА</li>
              <li>...</li>
            </ul>

            <span class="block text-[15px] mb-[10px]">ОТДЫХ</span>
            <label class="radio w-[30px] h-[30px] mx-auto">
              <input class="radio__input" type="radio" name="тип" />
              <span class="radio__box bg-white"></span>
            </label>
          </div>
        </div>
        <div
          class="bg-[#082341] rounded-[15px] flex flex-col items-center py-[20px] text-[10px] text-white text-center"
        >
          <div class="icon grow h-full mb-[15px]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
            >
              <rect width="28" height="28" fill="#fff" opacity="0.5" />
            </svg>
          </div>

          <div>
            <ul class="mb-[10px] leading-[1.3]">
              <li>КЛЮШКА</li>
              <li>ТЕЛЕЖКА</li>
              <li>МЯЧИ</li>
              <li>ОБОРУДОВАНИЕ</li>
              <li>...</li>
            </ul>

            <span class="block text-[15px] mb-[10px]">УСЛУГИ</span>
            <label class="radio w-[30px] h-[30px] mx-auto">
              <input class="radio__input" type="radio" name="тип" />
              <span class="radio__box bg-white"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
