<section class="policy py-[20px]">
  <div class="container">
    <h2 class="text-[32px] leading-none font-light mb-1">
      Политика конфиденциальн…
    </h2>
    <p class="mb-[40px]">Последнее обновление: 16/06/2021</p>

    <div>
      <p class="mb-[10px] text-xl">Положение о конфиденциальности:</p>
      <p>
        Мы уделяем большое внимание конфиденциальности ваших данных. Конечно,
        это расхожая фраза в подобных документах, но мы действительно серьезно
        относимся к безопасности. Пользуясь услугами Бронируй и Играй, вы
        оказываете нам доверие, и мы это ценим. Мы прилагаем все усилия, чтобы
        сохранить ваши личные данные в безопасности.
      </p>
    </div>
  </div>
</section>
