<section class="preference">
  <div class="container">
    <h1 class="preference__title">Предпочтения</h1>

    <ul class="preference__list">
      <li class="preference__item">
        <a class="preference__link" href="">
          <div class="preference__left">
            <span>Страна</span>
            <p>Россия</p>
          </div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </a>
      </li>
      <li class="preference__item">
        <a class="preference__link" href="">
          <div class="preference__left">
            <span>Регион</span>
            <p>Московская область</p>
          </div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </a>
      </li>
      <li class="preference__item">
        <a class="preference__link" href="">
          <div class="preference__left">
            <span>Язык</span>
            <p>Русский</p>
          </div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </a>
      </li>
      <li class="preference__item">
        <a class="preference__link" href="">
          <div class="preference__left">
            <span>Валюта</span>
            <p>Рубль (цены без .00 и ₽)</p>
          </div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="6"
            viewBox="0 0 8 6"
          >
            <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
          </svg>
        </a>
      </li>
    </ul>

    <button class="preference__btn btn" type="button">Применить</button>
  </div>
</section>
