<section class="promo">
  <div class="promo__slider swiper">
    <ul class="promo__wrapper swiper-wrapper">
      <li
        class="promo__slide swiper-slide"
        style="background-image: url('img/promo-slider/1.jpg')"
      >
        <p class="promo__text">Это блок новости, анонсы,… нашего проекта</p>
      </li>
      <li
        class="promo__slide swiper-slide"
        style="background-image: url('img/promo-slider/1.jpg')"
      >
        <p class="promo__text">Это блок новости, анонсы,… нашего проекта</p>
      </li>
      <li
        class="promo__slide swiper-slide"
        style="background-image: url('img/promo-slider/1.jpg')"
      >
        <p class="promo__text">Это блок новости, анонсы,… нашего проекта</p>
      </li>
      <li
        class="promo__slide swiper-slide"
        style="background-image: url('img/promo-slider/1.jpg')"
      >
        <p class="promo__text">Это блок новости, анонсы,… нашего проекта</p>
      </li>
    </ul>

    <div class="swiper-pagination"></div>
  </div>
</section>
