<section class="reg-card py-[20px]">
  <div class="container">
    <span class="block text-xl font-light text-center mb-[10px]">
      Регистрационная Карта
    </span>
  </div>

  <div class="reg-card-slider swiper">
    <ul class="swiper-wrapper">
      <li
        class="swiper-slide box-border w-full bg-[#1879CB] h-[290px] py-[10px] flex justify-center"
      >
        <img
          class="w-[205px] h-[205px] object-cover rounded-full"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
          alt="img"
        />
      </li>
      <li
        class="swiper-slide box-border w-full bg-[#1879CB] h-[290px] flex justify-center"
      >
        <img
          class="object-cover"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
          alt="img"
        />
      </li>
      <li
        class="swiper-slide box-border w-full bg-[#1879CB] h-[290px] py-[10px] flex justify-center"
      >
        <img
          class="w-[205px] h-[205px] object-cover rounded-full"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
          alt="img"
        />
      </li>
    </ul>

    <div class="swiper-pagination"></div>
  </div>

  <div class="container text-center">
    <h1 class="text-[32px] font-light">Анфиса Яркая</h1>
    <p class="text-xl">ID: 7579086</p>
  </div>

  <div class="container">
    <div class="mb-[20px]">
      <h2 class="text-[32px] font-light">Оценка</h2>
      <p class="mb-[20px]">От владельцев объектов</p>

      <div class="flex items-center">
        <div class="flex items-center gap-[5px] mr-[10px]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              id="Контур_165"
              data-name="Контур 165"
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              id="Контур_165"
              data-name="Контур 165"
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              id="Контур_165"
              data-name="Контур 165"
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <path
              id="Контур_165"
              data-name="Контур 165"
              d="M14.684,17.379a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.695a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.379Z"
              transform="translate(0 -11.795)"
              fill="#fed42d"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.705"
            height="14.705"
            viewBox="0 0 14.705 14.705"
          >
            <g id="star" opacity="0.3">
              <g
                id="Сгруппировать_203"
                data-name="Сгруппировать 203"
                transform="translate(0 0)"
              >
                <path
                  id="Контур_164"
                  data-name="Контур 164"
                  d="M14.684,17.378a.437.437,0,0,0-.348-.307l-4.559-.694-2.039-4.33a.422.422,0,0,0-.773,0l-2.039,4.33-4.559.694a.437.437,0,0,0-.348.307.467.467,0,0,0,.109.463l3.3,3.371-.779,4.76a.462.462,0,0,0,.171.442.414.414,0,0,0,.454.034L7.353,24.2l4.077,2.247a.414.414,0,0,0,.454-.034.462.462,0,0,0,.171-.442l-.779-4.76,3.3-3.371A.467.467,0,0,0,14.684,17.378ZM10.513,20.73a.465.465,0,0,0-.124.4l.67,4.092L7.553,23.29a.413.413,0,0,0-.4,0L3.647,25.222l.669-4.092a.465.465,0,0,0-.124-.4l-2.836-2.9,3.919-.6a.433.433,0,0,0,.324-.247l1.753-3.723,1.753,3.723a.433.433,0,0,0,.324.247l3.919.6Z"
                  transform="translate(0 -11.794)"
                />
              </g>
            </g>
          </svg>
        </div>
        <div class="text-green flex items-center text-xl">
          <span class="mr-[10px]">10</span>
          <span>Отзывов</span>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-[32px] font-light mb-[25px]">Гарантии</h2>

      <div class="mb-[20px]">
        <p class="text-xl">Рекомендации</p>
        <p class="text-blue">ID: 7579086</p>
        <p class="text-blue">ID: 7579086</p>
      </div>
      <div class="mb-[20px]">
        <p class="text-xl">Спортивная команда</p>
        <p class="text-blue">Газмяс или ID: 7579086</p>
      </div>
      <div class="mb-[20px]">
        <p class="text-xl">Спортивный клуб</p>
        <p class="text-blue">Вперед или ID: 7579086</p>
      </div>
      <div class="mb-[20px]">
        <p class="text-xl">Книжка спортсмена</p>
        <p class="text-blue">Вперед или ID: 7579086</p>
      </div>
      <div class="mb-[20px]">
        <p class="text-xl">Клубная карта</p>
        <p class="text-blue flex items-center">
          <span class="mr-[40px]">000000000000</span><span>Classic</span>
        </p>
      </div>
    </div>
  </div>
</section>
