<section class="reg-card py-[20px]">
  <div class="container">
    <span class="block text-xl font-light text-center mb-[10px]">
      Регистрационная Карта
    </span>
  </div>

  <div class="reg-card-slider swiper">
    <ul class="swiper-wrapper">
      <li
        class="swiper-slide box-border w-full bg-[#1879CB] h-[290px] py-[10px] flex justify-center"
      >
        <img
          class="w-[205px] h-[205px] object-cover rounded-full"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
          alt="img"
        />
      </li>
      <li
        class="swiper-slide box-border w-full bg-[#1879CB] h-[290px] py-[10px] flex justify-center"
      >
        <img
          class="w-[205px] h-[205px] object-cover rounded-full"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
          alt="img"
        />
      </li>
      <li
        class="swiper-slide box-border w-full bg-[#1879CB] h-[290px] py-[10px] flex justify-center"
      >
        <img
          class="w-[205px] h-[205px] object-cover rounded-full"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
          alt="img"
        />
      </li>
    </ul>
    
    <div class="swiper-pagination"></div>
  </div>

  <div class="container text-center">
    <h1 class="text-[32px] font-light">Анфиса Яркая</h1>
    <p class="text-xl">ID: 7579086</p>
  </div>
</section>
