<section class="statistics py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light leading-none mb-1">
      Статистика. <br />
      Рассылка копий
    </h1>
    <p class="mb-[20px]">
      Дополнительная уверенность в ваших Финансах и Показателях. Отправляйте
      копии на свою электронную почту
    </p>

    <div class="flex justify-between items-center mb-[40px]">
      <span class="text-xl">Отправлять</span>
      <label class="switch flex-shrink-0" for="checkbox-2">
        <input type="checkbox" id="checkbox-2" checked />
        <div class="slider round"></div>
      </label>
    </div>

    <div class="flex items-center justify-between mb-[40px]">
      <div class="flex flex-col">
        <span class="text-xl">Не отправлять если нет</span>
      </div>

      <label class="switch flex-shrink-0" for="checkbox-1">
        <input type="checkbox" id="checkbox-1" />
        <div class="slider round"></div>
      </label>
    </div>

    <div class="grid grid-cols-2 gap-[40px]">
      <div class="flex flex-col">
        <span class="mb-[10px] text-gray leading-none">Стартовое время</span>
        <input
          class="input-border-bottom text-xl py-1"
          type="text"
          value="06:00"
        />
      </div>
      <div class="flex flex-col">
        <span class="mb-[10px] text-gray leading-none">Период</span>
        <input
          class="input-border-bottom text-xl py-1"
          type="text"
          value="12 часов"
        />
      </div>
    </div>
  </div>
</section>
