<section class="subscribe bg-green-light">
  <div class="container">
    <div class="subscribe__container">
      <h2 class="subscribe__title">Подпишитесь на нашу рассылку</h2>
      <p class="subscribe__text">
        Следите за последними новостями о компаниях и продуктах из мира гольфа и
        получите скидку 15%
      </p>

      <form class="subscribe__form form-submit">
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="E-mail" />
        </label>

        <label class="checkbox">
          <input class="checkbox__input" type="checkbox" checked />
          <span class="checkbox__box"></span>
          <span class="checkbox__text">
            Принимаю условия
            <a href="#">политики конфиденциальности</a> и даю согласие на
            обработку персональных данных
          </span>
        </label>

        <button class="form-submit__btn btn bg-blue" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="19.393"
            height="12.929"
            viewBox="0 0 19.393 12.929"
          >
            <g>
              <path
                d="M18.4,85.333H.995A1,1,0,0,0,0,86.328v10.94a1,1,0,0,0,.995.995H18.4a1,1,0,0,0,.995-.995V86.328A1,1,0,0,0,18.4,85.333Zm-.373.746L10.269,91.9a1.04,1.04,0,0,1-1.144,0L1.368,86.079Zm-4.143,6.2L18.109,97.5l.014.014H1.27l.014-.014,4.227-5.221a.373.373,0,0,0-.58-.469L.746,96.982V86.545l7.931,5.949a1.78,1.78,0,0,0,2.039,0l7.931-5.949V96.982l-4.185-5.17a.373.373,0,0,0-.58.469Z"
                transform="translate(0 -85.333)"
                fill="#fff"
              />
            </g>
          </svg>

          Подписаться
        </button>
      </form>
    </div>
  </div>
  <div class="subscribe__img">
    <picture>
      <source srcset="img/subscribe-img.webp" type="image/webp" />
      <img src="img/subscribe-img.jpg" alt="img" />
    </picture>
  </div>
</section>
