<section class="subscriptions">
  <div class="container">
    <h1 class="subscriptions__title">Подписки и возможности</h1>

    <p class="subscriptions__text">
      Виртуальные карты лояльности для постоянных гостей. Является …
      <a href="#">далее</a>
    </p>
  </div>

  <div class="subscriptions__slider swiper">
    <ul class="subscriptions__wrapper swiper-wrapper">
      <li class="subscriptions__slide swiper-slide">
        <div class="subscriptions-card">
          <img src="img/subscriptions/1.png" alt="img" />

          <div class="subscriptions-card__body">
            <div class="subscriptions-card__sale">
              <span>Статус подписки</span>
              <span class="color-red">20 %</span>
            </div>
            <button class="subscriptions-card__btn btn" type="button">
              Подключить
            </button>
          </div>
        </div>
      </li>
      <li class="subscriptions__slide swiper-slide">
        <div class="subscriptions-card">
          <img src="img/subscriptions/1.png" alt="img" />

          <div class="subscriptions-card__body">
            <div class="subscriptions-card__sale">
              <span>Статус подписки</span>
              <span class="color-red">20 %</span>
            </div>
            <button class="subscriptions-card__btn btn" type="button">
              Активная
            </button>
          </div>
        </div>
      </li>
      <li class="subscriptions__slide swiper-slide">
        <div class="subscriptions-card">
          <img src="img/subscriptions/1.png" alt="img" />

          <div class="subscriptions-card__body">
            <div class="subscriptions-card__sale">
              <span>Статус подписки</span>
              <span class="color-red">20 %</span>
            </div>
            <button class="subscriptions-card__btn btn" type="button">
              Подключить
            </button>
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper-pagination"></div>
  </div>

  <div class="container">
    <div class="subscriptions__item">
      <div>Имя подписки</div>
      <div>Аналитика</div>
    </div>
    <div class="subscriptions__item">
      <div>Статус подписки</div>
      <div class="color-red">500</div>
    </div>
    <div class="subscriptions__item">
      <div>Сотрудничество</div>
      <div>1 месяц</div>
    </div>
    <div class="subscriptions-accordion accordion">
      <button
        class="subscriptions-accordion__control accordion-control-btn"
        type="button"
      >
        Текущие условия подписки

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="6"
          viewBox="0 0 8 6"
        >
          <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
        </svg>
      </button>

      <div class="subscriptions-accordion__content accordion-content">
        <div class="subscriptions-accordion__inner">
          <div class="inner-box">
            <span class="inner-title">Сотрудничество</span>
            <p class="inner-text">
              Взаимодействие с сайтом Бронируй и Играй. Условия и Правила.
              Стоимость и варианты
            </p>
          </div>
          <div class="inner-box">
            <span class="inner-name">Классика</span>
            <label class="radio">
              <input
                class="radio__input"
                type="radio"
                name="Сотрудничество"
                checked
              />
              <span class="radio__text">
                Полное подключение с заполнением форм, гарантии <br />
                и техническая поддержка
                <small class="color-red">Стоимость - 20 % от поступлений</small>
                <a href="#">Условия и Правила</a>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <span class="inner-name">Премиум</span>
            <label class="radio">
              <input class="radio__input" type="radio" name="Сотрудничество" />
              <span class="radio__text">
                Классика + собственный виртуальный ассистент для <br />
                работы с клиентами

                <small class="color-red">
                  Стоимость - 25 % от поступлений
                </small>
                <a href="#">Условия и Правила</a>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>

          <div class="inner-box">
            <span class="inner-title">Способы оплат</span>
            <p class="inner-text">
              Периодичность переводов на мой счет не позднее пяти календарных
              дней с начала нового периода
            </p>
          </div>
          <div class="inner-box">
            <span class="inner-name">На р/сч. организации</span>
            <label class="radio">
              <input
                class="radio__input"
                type="radio"
                name="Способы оплат"
                checked
              />
              <span class="radio__text">
                По договору с ИП, ООО, АО, …

                <small class="color-red">Плюс - 0 % </small>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <span class="inner-name">Физическому лицу</span>
            <label class="radio">
              <input class="radio__input" type="radio" name="Способы оплат" />
              <span class="radio__text">
                Перевод через СБП, счет карты, текущий счет, …

                <small class="color-red"> Плюс - 5 % </small>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>

          <div class="inner-box">
            <span class="inner-title">Варианты оплат</span>
            <p class="inner-text">
              Периодичность переводов на мой счет (не позднее пяти календарных
              дней с начала нового периода)
            </p>
          </div>
          <div class="inner-box">
            <label class="radio">
              <input
                class="radio__input"
                type="radio"
                name="Варианты оплат"
                checked
              />
              <span class="radio__text"> Еженедельно </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <label class="radio">
              <input class="radio__input" type="radio" name="Варианты оплат" />
              <span class="radio__text"> 2 раза в месяц </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <label class="radio">
              <input class="radio__input" type="radio" name="Варианты оплат" />
              <span class="radio__text">1 раз в месяц</span>
              <span class="radio__box"></span>
            </label>
          </div>

          <div class="inner-box">
            <span class="inner-title">Период подписки</span>
            <p class="inner-text">
              Действует бессрочно с момента подписания договора о сотрудничестве
              и активации кабинета
            </p>
            <p>Текущий период</p>
            <p>Начало периода</p>
            <p>Дата</p>
            <p class="date">03.08.2023</p>
          </div>
        </div>
      </div>
    </div>
    <div class="subscriptions-accordion accordion">
      <button
        class="subscriptions-accordion__control accordion-control-btn"
        type="button"
      >
        Новые условия подписки

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="6"
          viewBox="0 0 8 6"
        >
          <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
        </svg>
      </button>

      <div class="subscriptions-accordion__content accordion-content">
        <div class="subscriptions-accordion__inner">
          <div class="inner-box">
            <span class="inner-title">Сотрудничество</span>
            <p class="inner-text">
              Взаимодействие с сайтом Бронируй и Играй. Условия и Правила.
              Стоимость и варианты
            </p>
          </div>
          <div class="inner-box">
            <span class="inner-name">Классика</span>
            <label class="radio">
              <input
                class="radio__input"
                type="radio"
                name="Сотрудничество"
                checked
              />
              <span class="radio__text">
                Полное подключение с заполнением форм, гарантии <br />
                и техническая поддержка
                <small class="color-red">Стоимость - 20 % от поступлений</small>
                <a href="#">Условия и Правила</a>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <span class="inner-name">Премиум</span>
            <label class="radio">
              <input class="radio__input" type="radio" name="Сотрудничество" />
              <span class="radio__text">
                Классика + собственный виртуальный ассистент для <br />
                работы с клиентами

                <small class="color-red">
                  Стоимость - 25 % от поступлений
                </small>
                <a href="#">Условия и Правила</a>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>

          <div class="inner-box">
            <span class="inner-title">Способы оплат</span>
            <p class="inner-text">
              Периодичность переводов на мой счет не позднее пяти календарных
              дней с начала нового периода
            </p>
          </div>
          <div class="inner-box">
            <span class="inner-name">На р/сч. организации</span>
            <label class="radio">
              <input
                class="radio__input"
                type="radio"
                name="Способы оплат"
                checked
              />
              <span class="radio__text">
                По договору с ИП, ООО, АО, …

                <small class="color-red">Плюс - 0 % </small>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <span class="inner-name">Физическому лицу</span>
            <label class="radio">
              <input class="radio__input" type="radio" name="Способы оплат" />
              <span class="radio__text">
                Перевод через СБП, счет карты, текущий счет, …

                <small class="color-red"> Плюс - 5 % </small>
              </span>
              <span class="radio__box"></span>
            </label>
          </div>

          <div class="inner-box">
            <span class="inner-title">Варианты оплат</span>
            <p class="inner-text">
              Периодичность переводов на мой счет (не позднее пяти календарных
              дней с начала нового периода)
            </p>
          </div>
          <div class="inner-box">
            <label class="radio">
              <input
                class="radio__input"
                type="radio"
                name="Варианты оплат"
                checked
              />
              <span class="radio__text"> Еженедельно </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <label class="radio">
              <input class="radio__input" type="radio" name="Варианты оплат" />
              <span class="radio__text"> 2 раза в месяц </span>
              <span class="radio__box"></span>
            </label>
          </div>
          <div class="inner-box">
            <label class="radio">
              <input class="radio__input" type="radio" name="Варианты оплат" />
              <span class="radio__text">1 раз в месяц</span>
              <span class="radio__box"></span>
            </label>
          </div>

          <div class="inner-box">
            <span class="inner-title">Период подписки</span>
            <p class="inner-text">
              Действует бессрочно с момента подписания договора о сотрудничестве
              и активации кабинета
            </p>
            <p>Текущий период</p>
            <p>Начало периода</p>
            <p>Дата</p>
            <p class="date">03.08.2023</p>
          </div>
        </div>
      </div>
    </div>
    <div class="subscriptions-accordion accordion">
      <button
        class="subscriptions-accordion__control accordion-control-btn"
        type="button"
      >
        Соглашение

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8"
          height="6"
          viewBox="0 0 8 6"
        >
          <path d="M0,53.333l4,6,4-6Z" transform="translate(0 -53.333)" />
        </svg>
      </button>

      <div class="subscriptions-accordion__content accordion-content">
        <div class="subscriptions-accordion__inner">
          <p>Соглашение</p>
        </div>
      </div>
    </div>

    <button class="subscriptions__btn btn" type="button">Подтвердить</button>
  </div>
</section>
