<section class="game">
  <div class="container">
    <h1 class="game__title">
      Турниры. <br />
      Соревнования
    </h1>

    <div class="game__filters">
      <div class="filters-box">
        <div class="filters-box__top">
          <span class="filters-box__name">Вид турнира</span>
          <button class="filters-box__reset" type="reset">сбросить</button>
        </div>
        <div class="checkboxes">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text"> Коммерческий </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Рейтинговый </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text">Любительский</span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text">Профессиональный </span>
            <span class="checkbox__box"></span>
          </label>
        </div>
      </div>
      <div class="filters-box">
        <div class="filters-box__top">
          <span class="filters-box__name">Тип участников</span>
          <button class="filters-box__reset" type="reset">сбросить</button>
        </div>
        <div class="checkboxes">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text"> Все желающие </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Молодежный </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text">Детский </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text">Женский </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text">Мужской </span>
            <span class="checkbox__box"></span>
          </label>
        </div>
      </div>
      <div class="filters-box">
        <div class="filters-box__top">
          <span class="filters-box__name">Зачет</span>
          <button class="filters-box__reset" type="reset">сбросить</button>
        </div>
        <div class="checkboxes">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text"> Личный </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Командный </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Лично-командный </span>
            <span class="checkbox__box"></span>
          </label>
        </div>
      </div>
      <div class="filters-box">
        <div class="filters-box__top">
          <span class="filters-box__name">Дисциплина</span>
          <button class="filters-box__reset" type="reset">сбросить</button>
        </div>
        <div class="checkboxes">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text"> Гольф </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Поло </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Футбол </span>
            <span class="checkbox__box"></span>
          </label>
        </div>
      </div>
      <div class="filters-box">
        <div class="filters-box__top">
          <span class="filters-box__name">Направление</span>
          <button class="filters-box__reset" type="reset">сбросить</button>
        </div>
        <div class="checkboxes">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text"> Платная </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Суперлига </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Хоккей с шайбой </span>
            <span class="checkbox__box"></span>
          </label>
        </div>
      </div>
      <div class="filters-box">
        <div class="filters-box__top">
          <span class="filters-box__name">Виды мячей</span>
          <button class="filters-box__reset" type="reset">сбросить</button>
        </div>
        <div class="checkboxes">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked />
            <span class="checkbox__text"> Желтый </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Белый </span>
            <span class="checkbox__box"></span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__text"> Розовый </span>
            <span class="checkbox__box"></span>
          </label>
        </div>
      </div>

      <button class="filters-box__btn btn" type="button">Применить</button>
    </div>
  </div>
</section>
