<section class="cabinet-transfer py-[20px]">
  <div class="container">
    <h1 class="text-[32px] font-light mb-[20px]">Ваши кабинеты</h1>

    <div class="flex flex-col items-start w-full">
      <button
        class="border-all border-b border-b-transparent h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Обучение игре в гольф
      </button>
      <button
        class="border-all border-b border-b-transparent h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Гольф клуб Сколково
      </button>
      <button
        class="border-all border-b border-b-transparent h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Тур по Греции
      </button>
      <button
        class="border-all h-[60px] px-[15px] py-[18px] w-full text-left"
        type="button"
      >
        Корты в Сокольниках
      </button>
    </div>
  </div>
</section>
